<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form" ng-submit="addRoles()">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-center">Role</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-5 control-label">Role Name :</label>
                                <div class="col-sm-8 col-md-7">
                                    <input type="text" ng-model="role.role_name" class="form-control" ng-required="true" />
                                </div>
                            </div>
                        </div>

                    </div><!--/row-->

                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-5 control-label">Status :</label>
                            <div class="col-sm-8 col-md-7">
                                <select class="form-control ui-select-match" ng-init="role.status = 1" ng-model="role.status" ng-required="true" >
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div><!--/row-->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <h3 class="text-center">Role Settings</h3>
                    <div class="row">
                        <accordion close-others="oneAtATime">
                            <accordion-group is-open="status.open" ng-repeat="(module, actions) in moduleactions">
                                <accordion-heading>
                                    {{module | titlecase}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                <label ng-repeat="action in actions" class="col-sm-4">
                                    <input
                                        type="checkbox"
                                        ng-model="action.isSelected"
                                        ng-true-value="1"
                                        ng-false-value="0"
                                        ng-init="action.isSelected=role.roleSettings[module][action.action]"
                                      > {{action.action | titlecase}}
                                </label>
                            </accordion-group>
                        </accordion>
                    </div><!--/row-->
                </div>
            </div>
            <div class="row mt-45 text-center">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a class="btn btn-danger" href="/#/roles">Cancel</a>
                </div>
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->