<div class="col-xs-12">
    <span ng-show="tagLoading" class="alert alert-warning"><i class="fa fa-refresh"></i> Tag Loading...</span>
</div>
<div class="col-xs-12 secondary-bg mt-20">
    <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form"  ng-submit="saveTagDetails()">
        <div class="col-xs-12 shadow-box">        
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">Project Name :</label>
                        <div class="col-sm-8 multi-level">
                            <ui-select ng-model="search.project"
                                       theme="bootstrap" class='last-child' ng-if="projects.length >0">
                              <ui-select-match placeholder="Select a project...">{{$select.selected.project_name}}</ui-select-match>
                              <ui-select-choices repeat="project in projects | filter: $select.search"
                                       refresh-delay="0">
                                  <div ng-bind-html="project.project_name" ng-click="updateSelectBox('projectlevels', project.id, 0, 0)"></div>
                              </ui-select-choices>
                            </ui-select>
                            <a href="/#/projects/create" ng-if="projects.length ==0">Create Project First.</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="form-group">
                        <label class="col-sm-4 col-lg-3 control-label text-right">Project Level :</label>
                        <div class="col-sm-8 col-lg-9 multi-level">
                            <ui-select ng-repeat="childlevels in projectlevels" ng-model="search.childlevels[$index]"
                                       theme="bootstrap" class="{{((projectlevels.length-1)===$index?'last-child ':'')}}">
                              <ui-select-match placeholder="Select level...">{{$select.selected.level_name}}</ui-select-match>
                              <ui-select-choices repeat="level in childlevels | filter: $select.search"
                                       refresh-delay="0">
                                  <div ng-bind-html="level.level_name" ng-click="updateSelectBox('projectlevels', tagDetails.project_id, ($parent.$index+1), level.id)"></div>
                              </ui-select-choices>
                            </ui-select>
                            <span ng-if="!(projectlevels.length && tagDetails.project_id)">
                                <a ng-href="/#/project-levels" ng-if="!((projectlevels.length && tagDetails.project_id) || !tagDetails.project_id)">Click to manage project levels.</a>
                                <span ng-if="!tagDetails.project_id">Select a project first</span>
                            </span>
                            <input ng-model="tagDetails.project_level_id" name="project_level_id" type="hidden" ng-required="true" />
                        </div>
                    </div>
                </div>
            </div><!--/row-->

            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">Item:</label>
                        <div class="col-sm-8 multi-level">
                            <ui-select ng-repeat="item in items"  ng-model="search.item[$index]"
                                       theme="bootstrap" ng-disabled="disabled" class="{{((items.length-1)===$index?'last-child ':'')}}" ng-if="(items.length && tagDetails.project_id)">
                              <ui-select-match placeholder="Select item {{$index==0?'Group':$index==1?'Type':'Sub Type'}}">{{$select.selected.item_name}}</ui-select-match>
                              <ui-select-choices repeat="i in item | filter: $select.search"
                                       refresh-delay="0">
                                  <div ng-bind-html="i.item_name" ng-click="updateSelectBox('items', tagDetails.project_id, $parent.$index, i.id)"></div>
                              </ui-select-choices>
                            </ui-select>
                            <span ng-if="!(items.length && tagDetails.project_id)">
                                <a ng-href="/#/tagitems" ng-hide="(items.length && tagDetails.project_id) || !tagDetails.project_id">Click to manage items.</a>
                                <span ng-hide="tagDetails.project_id">Select a project first</span>
                            </span>
                            <input ng-model="tagDetails.tag_item_id" type="hidden" ng-required="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="form-group">
                        <label class="col-sm-4 col-lg-3 control-label text-right">Process Flow:</label>
                        <div class="col-sm-8 col-lg-9 multi-level" ng-class="{'has-error': search.process[1].checkProcessError}">
                            <ui-select ng-repeat="process in processes"  ng-model="search.process[$index]"
                                       theme="bootstrap" ng-disabled="disabled" class="{{((processes.length-1)===$index?'last-child ':'')}}" ng-if="(processes.length && tagDetails.project_id)">
                              <ui-select-match placeholder="Select process {{$index==0?'Type':'Flow'}}">{{$select.selected.process_name}}</ui-select-match>
                              <ui-select-choices repeat="p in process | filter: $select.search"
                                       refresh-delay="0">
                                  <div ng-bind-html="p.process_name" ng-click="updateSelectBox('processes', tagDetails.project_id, $parent.$index, p.id)"></div>
                              </ui-select-choices>
                            </ui-select>
                            
                            <span ng-if="!(processes.length && tagDetails.project_id)">
                                <a ng-href="/#/tag-process-flow" ng-hide="(processes.length && tagDetails.project_id) || !tagDetails.project_id">Click to manage process.</a>
                                <span ng-hide="tagDetails.project_id">Select a project first</span>
                            </span>
                            <span ng-if="(processes.length && tagDetails.project_id && search.process[0] && !search.item[1])">Select an item type first</span>
                            <input ng-model="tagDetails.tag_process_flow_id" type="hidden" ng-required="true" />
                            
                            <div class="help-block help-block-error" ng-show="search.process[1].checkProcessError">We have noted some errors on this process. Please visit Manage > Tag Process Flow for further information on the issue.</div>
                            
                        </div>
                    </div>
                </div>
            </div><!--/row-->

            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">User Group :</label>
                        <div class="col-sm-8 multi-level">
                            <ui-select ng-model="search.usergroup"
                                       theme="bootstrap" class="last-child" ng-change="getUserLevel()" ng-hide="!(usergroups.length && tagDetails.project_id)">
                                <ui-select-match placeholder="Select a group...">{{$select.selected.group_name}}</ui-select-match>
                                <ui-select-choices repeat="usergroup in usergroups | filter: $select.search"
                                         refresh-delay="0">
                                    <div ng-bind-html="usergroup.group_name"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-if="!(usergroups.length && tagDetails.project_id)">
                                <a ng-href="/#/user-groups" ng-hide="(usergroups.length && tagDetails.project_id) || !tagDetails.project_id">Click to manage user groups.</a>
                                <span ng-hide="tagDetails.project_id">Select a project first</span>
                            </span>
                            <input ng-model="tagDetails.user_group_id" type="hidden" ng-required="true" />
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div>
            <button class='btn btn-primary' ng-click="openModel()" type="button">Add more tags</button>
        </div>
        <div class="table-responsive table-responsive-cust mt-10">
            <table class="table table-bordered" id="rt1">
                <thead>
                    <tr>
                        <th class="text-center"><i class='fa fa-trash' ng-click="deleteTags()"></i></th>
                        <th class="text-center"><a href=''>Type <i class='fa fa-sort'></i></a></th>
                        <th class="text-center"><a>UID <i class='fa fa-sort'></i></a></th>
                        <th class="text-center">Project Level</th>
                        <th class="text-center">Item Type</th>
                        <th class="text-center" ><a>Tag Name <i class='fa fa-sort'></i></a></th> 
                        <th class="text-center" >Description</th> 
                        <th class="text-center" ><a>Product Code <i class='fa fa-sort'></i></a></th>
                        <th class="text-center" ><a>Last updated by</th>
                        <th class="text-center" >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='dat in selectedTags track by $index'>
                        <td class="text-center">
                            <input type="checkbox" ng-model="$delItems[dat.id]" ng-true-value="{{dat.id}}"></td>
                                    <td class="text-center {{dat.type}}">{{dat.type}}</td>

                                    <td class="text-center">{{dat.uid}}</td>
                                    <td class="text-center multi-level">
                                        <div class="level-item">{{dat.project_name}}</div>
                                        <div class="level-item" ng-repeat="project_level in dat.project_level" ng-class="{'last-child': dat.project_level.length===($index+1)}">
                                            {{project_level}}
                                        </div>
                                    </td>
                                    <td class="text-center">{{dat.itemDetails.item_name}}</td>
                                    <td class="text-center">{{dat.tag_name}}</td>
                                    <td class="text-center">{{dat.tag_description}}</td>
                                    <td class="text-center">{{dat.product_code}}</td>
                                    <td class="text-center">
                                        Material Received - No<br/>
                                        <small>(A.R. Hussain Nov 11, 2014 13:10:11)</small>
                                    </td>
                                    <td class="text-center">
                                        <a ng-href="/#/tags/{{dat.id}}">Task analysis</a>

                                    </td>
                    </tr>
                </tbody>
            </table>

            <div class="pull-right">                    
                <pagination total-items="totalCount" ng-model="currentPage" items-per-page="numPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pageCount" ng-change="pageChanged()"></pagination>
                <select class="form-control pull-right" style="width: 60px;margin: 20px 2px;height: 28px;padding: 3px"><option>20</option></select>
            </div>
        </div>
        </div><!--/shadow-box-->
        <div class="slide" ng-class="{'ng-hide':levels.length<=0}">
            <div class="wrapper mt-35 shadow-box">
               <div class="table-responsive table-responsive-cust">
                   <div class="form-horizontal-typ1" style="max-height: 400px;overflow:auto;">
                       <table class="table table-bordered" id="rt1">
                           <thead>
                               <tr>
                                   <th class="text-center" rowspan="2">S.No</th>
                                   <th class="text-center" rowspan="2">User Level</th>
                                   <th class="text-center" rowspan="2">
                                       <input type="checkbox" ng-model="selectAllLevelUsers" ng-click="selectAllLevels($event)">
                                   </th>
                                   <th class="text-center" rowspan="2">From Task Process <a tooltip-html-unsafe="{{tooltip.from_task_process}}" class="fa fa-question-circle"></a></th>
                                   <th class="text-center" rowspan="2">To Task Process <a tooltip-html-unsafe="{{tooltip.to_task_process}}" class="fa fa-question-circle"></a></th>
                                   <th class="text-center" rowspan="2">Mandatory <a tooltip-html-unsafe="{{tooltip.mandatory}}" class="fa fa-question-circle"></a></th>
                                   <th class="text-center"colspan="2">Email Notification <a tooltip-html-unsafe="{{tooltip.email_notification}}" class="fa fa-question-circle"></a></th> 
                               </tr>
                               <tr>
                                   <th class="text-center" style="">Status</th>
                                   <th class="text-center">Frequency</th>
                               </tr>
                           </thead>
                            <tbody>
                                <tr ng-repeat-start="level in levels" >
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center">{{level.level_name}}</td>
                                    <td class="text-center">
                                        <input type="checkbox" ng-model="level.isSelected" checkbox-all="level.relateUsers">
                                    </td>
                                    <td class="text-center" colspan="5">
                                    </td>
                                </tr>
                                <tr ng-repeat="relateUser in level.relateUsers" ng-if="relateUser.users!=null" ng-repeat-end>
                                     <td class="text-center"></td>
                                     <td class="text-center"></td>
                                     <td class="text-center">
                                         <div class="checkbox">
                                             <label ng-init="tagAssignment = tagDetails.tagAssignment[relateUser.users.id]">
                                                 <input type="checkbox" ng-model="relateUser.isSelected" class="checkUserLevel" ng-init="relateUser.isSelected = (tagAssignment != null)">
                                                    {{relateUser.users.first_name}} {{relateUser.users.last_name}}<br /><small>{{relateUser.users.designation?'('+relateUser.users.designation+')':''}}</small>
                                             </label>
                                         </div>
                                     </td>
                                     <td class="text-center">
                                        <ui-select theme="bootstrap" ng-disabled="disabled" ng-model="search.stage_from[relateUser.users.id]" ng-init="search.stage_from[relateUser.users.id]=tagAssignment.process_stage_from">
                                             <ui-select-match placeholder="No task selected">{{$select.selected.process_name}}</ui-select-match>
                                             <ui-select-choices repeat="stage in process_stages | filter: $select.search"
                                                      refresh-delay="0">
                                                 <div ng-bind-html="stage.process_name"></div>
                                             </ui-select-choices>
                                        </ui-select>
                                     </td>
                                     <td class="text-center">
                                         <ui-select theme="bootstrap" ng-disabled="disabled" ng-model="search.stage_to[relateUser.users.id]" ng-init="search.stage_to[relateUser.users.id]=tagAssignment.process_stage_to">
                                             <ui-select-match placeholder="No task selected">{{$select.selected.process_name}}</ui-select-match>
                                             <ui-select-choices repeat="stage in process_stages | filter: $select.search"
                                                      refresh-delay="0">
                                                 <div ng-bind-html="stage.process_name"></div>
                                             </ui-select-choices>
                                           </ui-select>
                                     </td>
                                     <td class="text-center">
                                         <div class="checkbox">
                                             <label>
                                                 <input type="checkbox" ng-model="search.mandatory[relateUser.users.id]" ng-init="search.mandatory[relateUser.users.id] = (tagAssignment.mandatory==1)"> &nbsp;
                                             </label>
                                         </div>
                                     </td>
                                     <td class="text-center" style="width: 200px;">
                                         <div class="dropdown">
                                            <ui-select theme="bootstrap" ng-disabled="disabled" ng-model="search.notification_status[relateUser.users.id]" multiple style="width: 100%;"  ng-init="search.notification_status[relateUser.users.id]=tagAssignment.notification_status">
                                                <ui-select-match placeholder="No task selected">{{$item.name}}</ui-select-match>
                                                <ui-select-choices repeat="status in noti_status | filter: $select.search"
                                                         refresh-delay="0">
                                                    <div ng-bind-html="status.name"></div>
                                                </ui-select-choices>
                                           </ui-select>
                                         </div>
                                     </td>
                                     <td class="text-center" style="width: 200px;">
                                         <div class="dropdown">
                                            <ui-select theme="bootstrap" ng-disabled="disabled" ng-model="search.notification_frequency[relateUser.users.id]" style="width: 100%;" ng-init="search.notification_frequency[relateUser.users.id]={'id': (tagAssignment.notification_frequency?tagAssignment.notification_frequency:relateUser.users.rec_notification), 'name': (tagAssignment.notification_frequency?tagAssignment.notification_frequency:relateUser.users.rec_notification)}">
                                                <ui-select-match placeholder="Select status">{{$select.selected.name | titlecase}}</ui-select-match>
                                                <ui-select-choices repeat="frequency in noti_frequency | filter: $select.search"
                                                         refresh-delay="0">
                                                    <div ng-bind-html="frequency.name"></div>
                                                </ui-select-choices>
                                           </ui-select>
                                        </div>
                                     </td>
                                 </tr>
                                </tbody>
                       </table>
                   </div>
               </div>
           </div><!--/row-->
           <div class="wrapper mt-20">
               <div class="tag-btn-wrapper row">
                    <div class="col-sm-5 pull-right ">
                         <div class="text-left">
                              <table class="table no-border" id="rt1">
                                      <tr><th class="text-right">Master Tag Name: </th>
                                          <td class="text-right" style="padding-right:0;"><input type="text" ng-model="tagDetails.tag_name" placeholder="Enter Master Tag Name" class="form-control" required />
                                              </td></tr>
                                      <tr><th class="text-right">Master Tag Description: </th>
                                          <td class="text-right" style="padding-right:0;"><textarea class="form-control" ng-model="tagDetails.tag_description" maxlength="100" placeholder="Enter Master Tag Description"></textarea>
                                              </td></tr>
                              </table>
                          </div>
                    </div>
                </div>
               <div class="text-right">
                   <button type="submit" ng-disabled="working" class="btn btn-primary btn-lg mr-10 plr-large mb-sm-5">
                       <span ng-show="!working">Save</span>
                       <span ng-show="working"><i class="fa fa-refresh"></i> Saving...</span>
                   </button>
                   <a ng-disabled="working" href="/#/tags" class="btn btn-default btn-lg plr-large">< Back</a>
               </div>        
           </div><!--/wrapper-->
        </div>
    </form>
</div><!--/secondary-bg-->
<style>
.ui-select-multiple.ui-select-bootstrap {
    background-color: #fff;
    border: 1px solid #ccc;
    height: auto;
    padding: 0.3em;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    width: 100% !important;
}
td.has-error div.ui-select-bootstrap{
    border: 1px solid #a94442;
}
</style>