<div class="col-xs-12">
    <button class="btn btn-primary btn-lg mr-10 mb-sm-5">Create Similar Tag From</button>
    <button class="btn btn-primary btn-lg">Copy Last Created Tag</button>
</div>      
<div class="col-xs-12 secondary-bg mt-20">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form" ng-class="{'ng-hide':showSearchBox}">
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Project Name :</label>
                    <div class="col-sm-6 multi-level">
                        <ui-select ng-model="search.project"
                                   theme="bootstrap" class='last-child'>
                          <ui-select-match placeholder="Select a project...">{{$select.selected.project_name}}</ui-select-match>
                          <ui-select-choices repeat="project in projects | filter: $select.search"
                                   refresh-delay="0">
                              <div ng-bind-html="project.project_name" ng-click="updateSelectBox('projectlevels', project.id, 0, 0)"></div>
                          </ui-select-choices>
                        </ui-select>
                        <input ng-model="search.project.id" name="search.project_id" type="hidden" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label text-right">Project Level :</label>
                    <div class="col-sm-8 col-lg-9 multi-level">
                        <ui-select ng-repeat="childlevels in projectlevels" ng-model="search.childlevels[$index]"
                                   theme="bootstrap" class="{{((projectlevels.length-1)===$index?'last-child ':'')}}">
                          <ui-select-match placeholder="Select a level...">{{$select.selected.level_name}}</ui-select-match>
                          <ui-select-choices repeat="level in childlevels | filter: $select.search"
                                   refresh-delay="0">
                              <div ng-bind-html="level.level_name" ng-click="updateSelectBox('projectlevels', search.project.id, ($parent.$index+1), level.id)"></div>
                          </ui-select-choices>
                        </ui-select>
                        <div ng-hide="projectlevels.length && search.project.id">
                            <a ng-href="/#/projects/levels/{{search.project.id}}" ng-hide="(projectlevels.length && search.project.id) || !search.project.id">Click to manage project levels.</a>
                            <span ng-hide="search.project.id">Select a project first</span>
                        </div>
                        <input ng-model="search.childlevels[$index].id" name="search.project_level_id" type="hidden" />
                    </div>
                </div>
            </div>
        </div><!--/row-->
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Item:</label>
                    <div class="col-sm-6 multi-level">
                        <ui-select ng-repeat="item in items"  ng-model="search.item[$index]"
                                   theme="bootstrap" ng-disabled="disabled" class="{{((items.length-1)===$index?'last-child ':'')}}">
                          <ui-select-match placeholder="Select item">{{$select.selected.item_name}}</ui-select-match>
                          <ui-select-choices repeat="i in item | filter: $select.search"
                                   refresh-delay="0">
                              <div ng-bind-html="i.item_name" ng-click="updateSelectBox('items', search.project.id, $parent.$index, i.id)"></div>
                          </ui-select-choices>
                        </ui-select>
                        <div ng-hide="items.length && search.project.id">
                            <a ng-href="/#/tagitems/project/{{search.project.id}}" ng-hide="(items.length && search.project.id) || !search.project.id">Click to manage project items.</a>
                            <span ng-hide="search.project.id">Select a project first</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label text-right">Process Flow:</label>
                    <div class="col-sm-6 multi-level">
                        <ui-select ng-repeat="process in processes"  ng-model="search.process[$index]"
                                   theme="bootstrap" ng-disabled="disabled" class="{{((processes.length-1)===$index?'last-child ':'')}}">
                          <ui-select-match placeholder="Select process">{{$select.selected.process_name}}</ui-select-match>
                          <ui-select-choices repeat="p in process | filter: $select.search"
                                   refresh-delay="0">
                              <div ng-bind-html="p.process_name" ng-click="updateSelectBox('processes', search.project.id, $parent.$index, p.id)"></div>
                          </ui-select-choices>
                        </ui-select>
                        <div ng-hide="processes.length && search.project.id">
                            <a ng-href="/#/tag-process-flow/project/{{search.project.id}}" ng-hide="(processes.length && search.project.id) || !search.project.id">Click to manage process.</a>
                            <span ng-hide="search.project.id">Select a project first</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">User Group :</label>
                    <div class="col-sm-6 multi-level">
                        <ui-select ng-model="search.usergroup"
                                   theme="bootstrap" class="last-child" ng-change="getUserLevel()" ng-hide="!usergroups.length">
                          <ui-select-match placeholder="Select a group...">{{$select.selected.group_name}}</ui-select-match>
                          <ui-select-choices repeat="usergroup in usergroups | filter: $select.search"
                                   refresh-delay="0">
                              <div ng-bind-html="usergroup.group_name"></div>
                          </ui-select-choices>
                          <a ng-href="/#/userGroups/project/{{search.project.id}}" ng-hide="(usergroups.length && search.project.id) || !search.project.id">Click to manage project levels.</a>
                        </ui-select>
                        <div ng-hide="usergroups.length && search.project.id">
                            <a ng-href="/#/user-groups/project/{{search.project.id}}" ng-hide="(usergroups.length && search.project.id) || !search.project.id">Click to manage user groups.</a>
                            <span ng-hide="search.project.id">Select a project first</span>
                        </div>
                        <input ng-model="search.usergroup.id" name="search.user_group_id" type="hidden" />
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </form>
    </div><!--/shadow-box-->
    <div class="slide" ng-class="{'ng-hide':levels.length<=0}">
        <div class="wrapper mt-35">
           <div class="table-responsive table-responsive-cust" style="max-height: 400px;overflow:auto;">
               <form class="form-horizontal-typ1">
                   <table class="table table-bordered">
                       <thead>
                           <tr>
                               <th class="text-center" rowspan="2">S.No</th>
                               <th class="text-center" rowspan="2">User Level</th>
                               <th class="text-center" rowspan="2">
                                       <input type="checkbox" checkbox-all="selectedUsers.isSelected">
                               </th>
                               <th class="text-center" rowspan="2">From Task Process <a tooltip-html-unsafe="{{tooltip.from_task_process}}" class="fa fa-question-circle"></a></th>
                               <th class="text-center" rowspan="2">To Task Process <a tooltip-html-unsafe="{{tooltip.to_task_process}}" class="fa fa-question-circle"></a></th>
                               <th class="text-center" rowspan="2">Mandatory <a tooltip-html-unsafe="{{tooltip.mandatory}}" class="fa fa-question-circle"></a></th>
                               <th class="text-center"colspan="2">Email Notification <a tooltip-html-unsafe="{{tooltip.email_notification}}" class="fa fa-question-circle"></a></th> 
                           </tr>
                           <tr>
                               <th class="text-center">Status</th>
                               <th class="text-center">Frequency</th> 
                           </tr>
                       </thead>
                       <tbody ng-repeat="level in levels">
                           <tr>
                               <td class="text-center">{{$index+1}}</td>
                               <td class="text-center">{{level.level_name}}</td>
                               <td class="text-center">
                                   <input type="checkbox" checkbox-all="selectedUsers[{{$index}}].isSelected">
                               </td>
                               <td class="text-center">
                               </td>
                               <td class="text-center">
                               </td>
                               <td class="text-center">
                               </td>
                               <td class="text-center">

                               </td>
                               <td class="text-center">
                               </td>
                           </tr>
                          <tr ng-repeat="userDetail in level.relateUsers.users">
                               <td class="text-center"></td>
                               <td class="text-center"></td>
                               <td class="text-center">
                                   <div class="checkbox">
                                       <label>
                                           <input type="checkbox" ng-model="selectedUsers[$parent.$index][userDetail.id].isSelected">
                                            {{userDetail.first_name}} {{userDetail.last_name}}<br /><small>({{userDetail.designation}})</small>
                                       </label>
                                   </div>
                               </td>
                               <td class="text-center">
                                   <ui-select theme="bootstrap" ng-disabled="disabled" ng-model="stage_from[userDetail.id]">
                                       <ui-select-match placeholder="Select task process">{{$select.selected.process_name}}</ui-select-match>
                                       <ui-select-choices repeat="stage in process_stages | filter: $select.search"
                                                refresh-delay="0">
                                           <div ng-bind-html="stage.process_name"></div>
                                       </ui-select-choices>
                                     </ui-select>
                               </td>
                               <td class="text-center">
                                   <ui-select theme="bootstrap" ng-disabled="disabled" ng-model="stage_to[userDetail.id]">
                                       <ui-select-match placeholder="Select task process">{{$select.selected.process_name}}</ui-select-match>
                                       <ui-select-choices repeat="stage in process_stages | filter: $select.search"
                                                refresh-delay="0">
                                           <div ng-bind-html="stage.process_name"></div>
                                       </ui-select-choices>
                                     </ui-select>
                               </td>
                               <td class="text-center">
                                   <div class="checkbox">
                                       <label>
                                           <input type="checkbox"> &nbsp;
                                       </label>
                                   </div>
                               </td>
                               <td class="text-center">
                                   <button class="btn icon-btn" type="button"><i class="fa fa-plus-circle fa-lg"></i>
                                   </button>
                               </td>
                               <td class="text-center">
                                   <button class="btn icon-btn" type="button"><i class="fa fa-plus-circle fa-lg"></i>
                                   </button>
                               </td>
                           </tr> 
                       </tbody>
                   </table>
               </form>
           </div>
           <div class="tag-btn-wrapper row">
               <div class="col-sm-5 pull-right ">
                   <form id="form" class="form-horizontal form-horizontal-typ1" role="form">
                       <label class="control-label col-sm-8 col-lg-9 text-right">No. of Tags to Create :</label>
                       <div class="col-sm-4 col-lg-3 pull-right" style="padding:0;">
                           <div class="input-group">
                               <input type="text" class="form-control"  value="1" placeholder="" ng-model="tagsNum" ng-maxlength="2" numbers-only="numbers-only">
                               <span class="input-group-btn">
                                   <button class="btn btn-default" type="button"  ng-click="copyTags(tagsNum)"><i class="fa fa-plus-circle fa-lg"></i></button>
                               </span>
                           </div><!-- /input-group -->
                       </div><!-- /.col-lg-6 -->
                   </form>
               </div>
           </div>      
       </div><!--/row-->
       <div class="wrapper mt-20">
           <div class="table-responsive table-responsive-cust">
               <table class="table table-bordered form-horizontal-typ1">
                   <thead>
                       <tr>
                           <th class="text-center">S.No</th>
                           <th class="text-center">Pre</th>
                           <th class="text-center">Tag Name</th>
                           <th class="text-center">Post</th>
                           <th class="text-center">Product Code</th>
                           <th class="text-center">Tag Description</th>
                       </tr>
                   </thead>
                   <tbody>

                       <tr ng-repeat="tag in tags track by $index">
                           <td>
                               {{$index+1}}
                               <input type="hidden" id="tag-{{$index}}" ng-model="tag.id" />
                           </td>
                           <td><input type="text" id="tag-pre-{{$index}}" class="form-control form-control-small" ng-model="tag.pre" numbers-only="numbers-only" /></td>
                           <td><input type="text" id="tag-tagName-{{$index}}" class="form-control form-control-small" ng-model="tag.tagName" /></td>
                           <td><input type="text" id="tag-post-{{$index}}" class="form-control form-control-small" ng-model="tag.post" numbers-only="numbers-only" /></td>
                           <td><input type="text" id="tag-productCode-{{$index}}" class="form-control form-control-small" ng-model="tag.productCode" /></td>
                           <td>
                               <div class="input-group">
                                   <input type="text" id="tag-tagDescription-{{$index}}" class="form-control form-control-small" ng-model="tag.tagDescription" />
                                   <span class="input-group-btn">
                                       <button ng-click="(tags.length>1?tags.splice($index,1):0)" type="button" class="btn btn-default" style="padding:3px 10px;"><i class="fa fa-trash"></i></button>
                                   </span>
                               </div>
                           </td>
                       </tr>
               </table>
           </div>
           <div class="text-right">
               <button class="btn btn-primary btn-lg mr-10 plr-large mb-sm-5">Save</button>
               <button class="btn btn-danger btn-lg plr-large">Cancel</button>
           </div>        
       </div><!--/wrapper-->
    </div>
</div><!--/secondary-bg-->