<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Site Track</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-submenu.js"></script>
        <script type="text/javascript" src="js/html5shiv.js"></script>
        <script type="text/javascript" src="js/respond.js"></script>
        <script type="text/javascript" src="js/site.js"></script>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="pull-right welcome-wrapper">
                    <ul>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle welcome-text" data-toggle="dropdown" role="button" aria-expanded="false">Welcome : <span class="username">akbarraja</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu weclome-list dropdown-menu-right" role="menu">
                                <li>Last Login IP : <span class="ip-address pl-5">111.111.222.11</span></li>
                                <li>Last login location : <span class="location pl-5">Dubai (UAE)</span></li>
                            </ul>
                         </li>
                        <li><a class="btn btn-primary btn-small" href="#">Logout <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                    <div class="last-login">Last login : <span class="date-time text-muted">14 Oct 2014 10:am</span></div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="nav-container">
                <div class="container-fluid">
                    <nav class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View / Edit / Print <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="col-xs-12 pull-right">
                                    <form class="" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control search-control" placeholder="Search..." name="q" style="padding:6px 6px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary search-btn" type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav><!--/.nav-collapse -->
                </div>
            </div><!--/nav-container-->
        </header><!--/navbar-default-->
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content primary-bg-wrapper column-gs-sm normal-gutter pb-20">
                        <div class="row">
                            <div class="col-sm-6">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Tags</a></li>
                                    <li class="active">Create master tag</li>
                                </ol>
                            </div>
                            <div class="col-sm-6 text-right">
                                <h4 class="mt-5 mb-0">Create / Update master Tag</h4>
                            </div>              
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-xs-12 secondary-bg mt-20">
                                <div class="col-xs-12 shadow-box">
                                    <form id="form" class="form-wrapper form-horizontal form-horizontal-type1" role="form">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-5 text-right">Project :</label>
                                                    <div class="col-sm-7">
                                                        <div class="dropdown">
                                                            <button class="dropdown-toggle item-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                                <div class="item">Construction work on hospital project</div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 text-right">Project Level :</label>
                                                    <div class="col-sm-9">
                                                        <div class="dropdown">
                                                            <button class="dropdown-toggle item-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                                <div class="item">Emergency Ward A</div>
                                                                <div class="item">Floor 1</div>
                                                                <div class="item">Area 1</div>
                                                                <div class="item">Room No. 5</div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-5 text-right">Tag Item :</label>
                                                    <div class="col-sm-7">
                                                        <div class="dropdown">
                                                            <button class="dropdown-toggle item-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                                <div class="item">Item Group</div>
                                                                <div class="item">Item Type</div>
                                                                <div class="item">Item Sub Type</div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 text-right">Tag Process Flow: </label>
                                                    <div class="col-sm-9">
                                                        <div class="dropdown">
                                                            <button class="dropdown-toggle item-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                                <div class="item">Item Process A</div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-5 col-md-5 text-right">User Group :</label>
                                                    <div class="col-sm-7 col-md-7">
                                                        <div class="item-group">User Group A</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                    </form>
                                </div><!--/shadow-box-->
                                 <div class="wrapper mt-35">
                                    <div class="table-responsive table-responsive-cust">
                                        
                                        
                                          <div class="col-xs-12 search-tag-box mb-sm-large">
                                                    <div class="row">
                                                        <h2 class="col-xs-12 search-title">Search Tags<button class="pull-right btn icon-btn"><i class="fa fa-sort-desc fa-2x" id="down-arrow"></i><i class="fa fa-sort-asc fa-2x" id="up-arrow" style="display: none"></i></button>
                                                        </h2>
                                                    </div><!--/row-->
                                                    <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper" role="form">
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Tag Name :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Tag UID :</label>
                                                                    <div class="col-sm-6">
                                                                       
                                              <input type="text" class="form-control" /> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Tag Description :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" /> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Project Level :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" /> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--/row-->
                                                        <div class="row mt-20">
                                                           <div class="col-sm-10 text-center">
                                                                <button class="btn btn-primary mb-sm-5">Search</button>
                                                                <button class="btn btn-primary mb-sm-5">Clear Search</button>
                                                           </div> 
                                                        </div>
                                                    </form>
                                                
                                        <form class="form-horizontal-typ1">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" rowspan="2">
                                                            <input type="checkbox"></th>
                                                        <th class="text-center" rowspan="2">Type</th>
                                                        <th class="text-center" rowspan="2">UID</th>
                                                        <th class="text-center" rowspan="2">Project Level</th>
                                                        <th class="text-center" rowspan="2">Item Type</th>
                                                        <th class="text-center" >Tag Name</th> 
                                                        <th class="text-center" >Product Code</th>
                                                        <th class="text-center" >Status</th>                                                 
                                                        <th class="text-center" >Last Updated By</th>
                                                        <th class="text-center" >Action</th>
                                                    </tr>
                                                    
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center"><input type="checkbox"></td>
                                                        <td class="text-center">Sample Tag
                                                        </td>
                                                        <td class="text-center">1234
                                                        </td>
                                                        <td class="text-center">Villa>Floor1
                                                        </td>
                                                        <td class="text-center">Material Items</td>
                                                        <td class="text-center">A12</td>
                                                        <td class="text-center">AXA224</td>
                                                        <td class="text-center">Not Started</td>
                                                        <td class="text-center">Hussain R (5 Nov 2014)
                                                        </td>
                                                        <td class="text-center"><a href="#">Task Analysis</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"><input type="checkbox"></td>
                                                        <td class="text-center">Sample Tag
                                                        </td>
                                                        <td class="text-center">1234
                                                        </td>
                                                        <td class="text-center">Villa>Floor1
                                                        </td>
                                                        <td class="text-center">Material Items</td>
                                                        <td class="text-center">A12</td>
                                                        <td class="text-center">AXA224</td>
                                                        <td class="text-center">Not Started</td>
                                                        <td class="text-center">Hussain R (5 Nov 2014)
                                                        </td>
                                                        <td class="text-center"><a href="#">Task Analysis</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"><input type="checkbox"></td>
                                                        <td class="text-center">Sample Tag
                                                        </td>
                                                        <td class="text-center">1234
                                                        </td>
                                                        <td class="text-center">Villa>Floor1
                                                        </td>
                                                        <td class="text-center">Material Items</td>
                                                        <td class="text-center">A12</td>
                                                        <td class="text-center">AXA224</td>
                                                        <td class="text-center">Not Started</td>
                                                        <td class="text-center">Hussain R (5 Nov 2014)
                                                        </td>
                                                        <td class="text-center"><a href="#">Task Analysis</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        </div><!--/search-tag-box-->
                                        
                                        
                                    </div>
                                </div><!--/row-->
                                <div class="wrapper mt-20">
                                    <div class="table-responsive table-responsive-cust">
                                        <table class="table table-bordered form-horizontal-typ1">
                                            <thead>
                                                <tr>
                                                        <th class="text-center" rowspan="2">S.No</th>
                                                        <th class="text-center" rowspan="2">User Level</th>
                                                        <th class="text-center" rowspan="2">
                                                                <input type="checkbox">
                                                        </th>
                                                        <th class="text-center" rowspan="2">From Task Process</th>
                                                        <th class="text-center" rowspan="2">To Task Process</th>
                                                        <th class="text-center" rowspan="2">Mandatory</th>
                                                        <th class="text-center"colspan="2">Email Notification</th> 
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center">Frequency</th> 
                                                    </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">Admin</td>
                                                        <td class="text-center">
                                                                <input type="checkbox">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                            
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                <input type="checkbox"> Shoaib
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Material created</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Handling over</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> &nbsp;
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center"><a class="links" href="#">All , On Update</a></td>
                                                        <td class="text-center"><a class="links" href="#">Daily , Weekly</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                <input type="checkbox"> Md Hussain R
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Material created</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Handling over</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> &nbsp;
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center"><a class="links" href="#">All , On Update</a></td>
                                                        <td class="text-center"><a class="links" href="#">Daily , Weekly</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                <input type="checkbox"> Am Hussain
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Material created</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Handling over</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> &nbsp;
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center"><a class="links" href="#">All , On Update</a></td>
                                                        <td class="text-center"><a class="links" href="#">Daily , Weekly</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">2</td>
                                                        <td class="text-center">Site Personnel</td>
                                                        <td class="text-center">
                                                                <input type="checkbox">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                            
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                <input type="checkbox"> Md Hussain R
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Material created</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Handling over</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> &nbsp;
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center"><a class="links" href="#">All , On Update</a></td>
                                                        <td class="text-center"><a class="links" href="#">Daily , Weekly</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                <input type="checkbox"> Am Hussain
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Material created</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control">
                                                                <option>Handling over</option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> &nbsp;
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center"><a class="links" href="#">All , On Update</a></td>
                                                        <td class="text-center"><a class="links" href="#">Daily , Weekly</a></td>
                                                    </tr>
                                                </tbody>
                                        </table>
                                    </div>
                                    <div class="text-left">
                                        <table class="table no-border">
                                                <tr><th class="text-right">Master Tag Name: </th>
                                                    <td class="text-right" style="padding-right:0;"><input type="text" value="Enter Master Tag Name" class="form-control"/>
                                                        </td></tr>
                                                <tr><th class="text-right">Master Tag Description: </th>
                                                    <td class="text-right" style="padding-right:0;"><textarea class="form-control">Enter Master Tag Description</textarea>
                                                        </td></tr>
                                        </table>
                                        <div class="pull-right">
                                            <button class="btn btn-primary btn-lg mr-10 plr-large mb-sm-5">Save</button>
                                            <button class="btn btn-danger btn-lg plr-large">Cancel</button>
                                        </div>
                                    </div>        
                                </div><!--/wrapper-->
                            </div><!--/secondary-bg-->
                        </div><!--/row-->
                    </div><!--/content-->
                </div>
            </div><!--/row-->
        </section>
        <!--/container-fluid-->
        <footer class="footer-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <ul> 
                            <li><a href="#">Terms and Conditions of Use </a><span>|</span></li>
                            <li><a href="#">Privacy Policy </a><span>|</span></li>
                            <li><a href="#">Customer Support </a><span>|</span></li>
                            <li><a class="active" href="#">Andriod App </a></li>
                        </ul>
                    </div>
                </div><!--/row-->
                <div class="row">
                    <div class="col-xs-12 text-center copyright">
                        <span>&copy;</span> Site Track -nfc.com 2013 , All Rights Reserved
                    </div>
                </div><!--/row-->
            </div>
        </footer><!--/footer-wrapper-->
    </body>
</html>