<div class=" modal-lg col-xs-12 secondary-bg mt-20">
    <!--/shadow-box-->
    <div class="table-responsive table-responsive-cust">
        <div class="col-xs-12 search-box mb-sm-large">
            <div class="row">
                <h2 class="col-xs-12 search-title">
                    Log Activity
                </h2>
            </div><!--/row-->
            <form ng-submit="logActivity()" role="form" class="form-horizontal form-horizontal-typ1 form-wrapper" id="form">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Tag Name :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="search.tag_name">
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
            </form>
        </div><!--/search-tag-box-->
    </div>

</div><!--/secondary-bg-->