<div role="tabpanel" class="tab-pane col-xs-12 active" id="List_Tags">
        <div class="row">
            <div class="col-xs-12 search-box mb-sm-large">
        <form role="form" class="form-wrapper form-horizontal form-horizontal-type1" id="form">
            <div class="">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Project Name :</label>
                                <div class="col-sm-8 multi-level">
                                    <div class="item-group">{{tagAnalytic.project_name}}</div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">UNIQUE ID :</label>
                                <div class="col-sm-8 multi-level">
                                    <div class="item-group">{{tagAnalytic.uid}}</div>

                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Project Level:</label>
                                <div class="col-sm-8 multi-level">
                                    <span ng-repeat="level in tagAnalytic.projectLevelObj" class="{{$last?'':'level-item'}}"> 
                                        {{level.level_name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">User Group :</label>
                                <div class="col-sm-8 multi-level">
                                        <span class="ng-scope">{{tagAnalytic.userGroup['group_name']}}</span>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Tag  Name :</label>
                                <div class="col-sm-8 multi-level">
                                    <div class="item-group"> {{tagAnalytic.tag_name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Tag Description :</label>
                                <div class="col-sm-8 multi-level">
                                    <div class="item-group">{{tagAnalytic.tag_description}}</div>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Items:</label>
                                <div class="col-sm-8 multi-level">
                                   <span ng-repeat="level in tagAnalytic.itemObj" class="{{$last?'':'level-item'}}">
                                       {{level.item_name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Process Level :</label>
                                <div class="col-sm-8 multi-level">
                                    <span ng-repeat="level in tagAnalytic.processObj" class="{{$last?'':'level-item'}}"> 
                                        {{level.process_name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Product Code :</label>
                                <div class="col-sm-8 multi-level">
                                    <div class="item-group">{{tagAnalytic.product_code}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 text-right">&nbsp;</label>
                                <div class="col-sm-8">
                                    <div class="item-group">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    
                    
                </div>
                <div class='col-sm-3'>
                    <div class="col-sm-5 col-md-6 bar-code-container2">
                        
                        <button openlightbox="" imageurl="JHH22JD322N.png" type="barCode" image-title="Test Tag 1" class="bar-code text-center">
                            <i class="fa fa-barcode fa-5x"></i>
                        </button>
                        <div class="bar-code-text text-center">
                            Bar Code 
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-6 bar-code-container2">
                        
                        <button openlightbox="" imageurl="JHH22JD322N.png" type="qrCode" image-title="Test Tag 1" class="bar-code text-center">
                            <i class="fa fa-qrcode fa-5x"></i>
                        </button>
                        <div class="bar-code-text text-center">
                            QR Code
                        </div>
                    </div>
                </div>
            </div><!--/row-->
        </form>
        <div style="padding:10px;" class="row">
            <div class="col-xs-12 search-box mb-sm-large">
                <div class="row">
                    <h2 class="col-xs-12 search-title">Assigned Users and Process
                        <button class="pull-right btn icon-btn" ng-click="showSearchBox=!showSearchBox;">
                            <i ng-class="{'fa fa-sort-desc fa-2x': !showSearchBox,'fa fa-sort-asc fa-2x': showSearchBox}"></i>
                        </button>
                    </h2>
                </div><!--/row-->
            <div style="padding:10px;" class="table-responsive table-responsive-cust form-wrapper">
                <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form" ng-class="{'ng-hide':showSearchBox}">
                    <div class="">
                        <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">S.No</th>
                                <th rowspan="2" class="text-center">User Level</th>
                                <th rowspan="2" class="text-center">User</th>
                                <th rowspan="2" class="text-center">From Task Process</th>
                                <th rowspan="2" class="text-center">To Task Process</th>
                                <th rowspan="2" class="text-center">Mandatory</th>
                                <th colspan="2" class="text-center">Email Notification</th> 
                            </tr>
                            <tr>
                                <th class="text-center">Status</th>
                                <th class="text-center">Frequency</th> 
                            </tr>
                        </thead>
                        <tbody>
<!--                            <tr>
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-center">Admin One</td>
                                <td class="text-center"></td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">

                                </td>
                                <td class="text-center">
                                </td>
                            </tr>-->
                            <tr ng-repeat="level in tagAnalytic.tagAssignmentObj" ng-if="level.user_level!=null">
                                <td class="text-center" ng-init="serial=serial+1">{{serial}}</td>
                                <td class="text-center">{{level.user_level.level_name}}</td>
                                <td class="text-center">
                                    {{level.userDetails.first_name}} {{level.userDetails.last_name}}<br />
                                    <small>{{level.userDetails.designation?'('+level.userDetails.designation+')':''}}</small>
                                </td>
                                <td class="text-center">
                                   {{level.process_stage_from.process_name}}
                                </td>
                                <td class="text-center">
                                     {{level.process_stage_to.process_name}}
                                </td>
                                <td class="text-center">
                                    {{(level.mandatory?"Yes":"No")}}
                                </td>
                                <td class="text-center">
                                    <span ng-repeat="status in level.notification_status">
                                        <span class="mr-5">{{status.name}}</span>
                                    </span>
                                </td>
                                <td class="text-center">
                                    {{level.notification_frequency}}
                                </td>
                            </tr>                 
                        </tbody>
                    </table>
                    </div><!--/row-->
                </form>     
            </div>
            </div><!--/search-tag-box-->
        </div><!--/row-->
    </div><!--/shadow-box-->
    <div class="wrapper mt-10 mt-xs-large">
        <button class="btn icon-btn btn-lg pull-left activity-btn"><i class="fa fa-list-alt fa-lg mr-10 "></i>Activity Log List</button>
<!--        <button class="btn btn-primary btn-lg pull-right"><i class="fa fa-download mr-10 fa-lg"></i>Download Report</button>
        <button class="btn btn-primary btn-lg pull-right mr-10"><i class="fa fa-print mr-10 fa-lg"></i>Print Report</button>-->
    </div> 
    <div class="wrapper mt-20">
        <div class="table-responsive table-responsive-cust">
            <table class="table table-bordered table-striped form-horizontal-typ1 mb-0">
                <thead>
                    <tr>
                        <th class="text-center">S.No</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Comments</th>
                        <th class="text-center">Attachments<br />
                            <small>(click to view)</small>
                        </th>
                        <th class="text-center">
                            Activity Location<br />
                            <small>(click to download)</small>
                        </th>
                        <th class="text-center">Logged By</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="act in activity">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">{{act.status}}
                        </td>
                        <td class="text-center">{{act.comments}}</td>
                        <td class="text-center">
                            
                            <span  ng-repeat="attch in act.attachments" >
                                <a href="">{{attch.filename}}&nbsp;&nbsp;<i class="fa fa-file-word-o"></i></a>,
                            </span>
                            <span ng-hide="act.attachments.length>0">No attachments available</span>
                        </td>
                        <td class="text-center">
                            <a>{{act.location}}</a><br /><small>{{act.device}}</small>
                        </td>
                        <td class="text-center">
                            Mr. Ankur Sharma <br/>
                            <small>24 Nov 2014 13:10:11</small>
                        </td>
                        <td class="text-center">
                            <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                            <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="pull-right">                    
            <pagination total-items="totalCount" ng-model="currentPage" items-per-page="numPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pageCount" ng-change="pageChanged()"></pagination>
            <select class="form-control pull-right" style="width: 60px;margin: 20px 2px;height: 28px;padding: 3px"><option>20</option></select>
        </div>
            
        </div>        
    </div><!--/wrapper-->
</div><!--/secondary-bg-->
</div>
<style>
    .bar-code-container2 {width: 50%;}
</style>