<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <div class="tag-btn-wrapper row">
            <div class="col-sm-5 pull-right mt-15">
                <label class="control-label col-sm-8 col-lg-9 text-right mt-5">Add more:</label>
                <div class="col-sm-4 col-lg-3 pull-right" style="padding:0;">
                    <form role="form" class="input-group" ng-submit="copyUser(fieldNum)">
                        <input type="text" class="form-control" ng-required="true" ng-init="fieldNum = 1" placeholder="" size="2" ng-model="fieldNum" numbers-only max="2">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </button>
                        </span>
                    </form><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
        </div>
        <form id="form" name="frmCreateUsers" ng-submit="createUser()" class="form-wrapper form-horizontal form-horizontal-typ1 createUser" role="form">
            <div class="row mt-15">
                <div class="col-xs-12">
                    <div class="table-responsive table-responsive-cust">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Username<br />(Login Name)</th>
                                    <th class="text-center">Designation</th>
                                    <th class="text-center">Contact</th>
                                    <th class="text-center">Role</th>
                                    <th class="text-center">Active</th>
                                    <th class="text-center">Notification</th>
                                    <th class="text-center">Allow<br />BE <i tooltip-html-unsafe="{{tooltip.allow_be}}" class="fa fa-question-circle"></i></th>
                                    <th class="text-center">Photo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users track by $index">
                                    <td class="text-center" style='padding:0;border-right: 0;'>
                                        <button type="button" class='btn icon-btn' title="Click to remove." ng-click="removeUser($index)"><i class="fa fa-times"></i></button>
                                    </td>
                                    <td class="text-center form-group">
                                        <div  ng-class="{ 'has-error': serverError[$index].first_name}">
                                            <input type="text" placeholder="First Name" class="form-control form-control-small" ng-model="user.first_name" name="first_name" ng-required="true" maxlength="64"/>
                                            <div class="help-block help-block-error">{{serverError[$index].first_name}}</div>
                                        </div>
                                        <div ng-class="{ 'has-error': serverError[$index].last_name}">
                                            <input type="text" class="form-control form-control-small" placeholder="Last Name" ng-model="user.last_name" ng-required="true" maxlength="64"/>

                                            <div class="help-block help-block-error">{{serverError[$index].last_name}}</div>
                                        </div>
                                    </td>
                                    <td ng-class="{ 'has-error': serverError[$index].username}">
                                        <input type="text" placeholder="Username" class="form-control form-control-small" ng-model="user.username" ng-required="true" maxlength="64"/>
                                        <div class="help-block help-block-error">{{serverError[$index].username}}</div>
                                    </td>
                                    <td ng-class="{ 'has-error': serverError[$index].designation}">
                                        <input type="text" placeholder="Designation" class="form-control form-control-small" ng-model="user.designation" maxlength="64"/>
                                        <div class="help-block help-block-error">{{serverError[$index].designation}}</div>
                                    </td>
                                    <td>
                                        <div ng-class="{ 'has-error': serverError[$index].email}">
                                            <input type="email" placeholder="Email" class="form-control form-control-small" ng-model="user.email" ng-required="true" maxlength="128" />
                                            <div class="help-block help-block-error">{{serverError[$index].email}}</div>
                                        </div>
                                        <div class="text-right" ng-class="{ 'has-error': serverError[$index].contact_number}">
                                            <input type="text" placeholder="Phone number" class="form-control form-control-small" ng-model="user.contact_number" maxlength="16"/>
                                            <div class="help-block help-block-error">{{serverError[$index].contact_number}}</div>
                                        </div>
                                    </td>
                                    <td class="text-center multi-level" ng-class="{ 'has-error': serverError[$index].role}">
                                        <select class="form-control form-control-small" ng-model="user.role" ng-options="rol.id as rol.role_name for rol in roles" ng-init="user.role = roles[0].role_name" ng-required="true" >
                                            <option value="">-Select-</option>
                                        </select>
                                        <div class="help-block help-block-error">{{serverError[$index].role}}</div>
                                    </td>
                                    <td class="text-center">
                                        <input type='checkbox' ng-model='user.status' ng-init="user.status = 1" ng-true-value='1' ng-false-value='0' />
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control form-control-small" ng-model="user.rec_notification" ng-options="notify.id as notify.name for notify in rec_noti" ng-init="user.rec_notification = rec_noti[0].id"></select>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" ng-model="user.allow_be" ng-init="user.allow_be = 1" ng-true-value="1" ng-false-value="0" />
                                    </td>
                                    <td class="text-center">
                                        <div class="preview-box ">
                                            <div class="fileUpload">
                                                <div ng-hide="user.photo" style="cursor: pointer;border: 1px solid #ccc;background-color: #fff;padding: 20px;" title="Click to upload">Upload</div>
                                                <div ng-show="user.photo" class="center" style="border: 1px solid #ccc;height: 104px;width: 104px;background-color: #fff;">
                                                    <button type="button" title="Click to remove image." ng-click="removePhoto($index)" style="position:absolute;right: -22px; top: -14px" class="btn btn-link">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </button>
                                                    <img ng-src="{{user.photo}}" />
                                                </div>

                                                <input type="file" class="upload" style="height: 100%;" onchange="angular.element(this).scope().onFileSelect(this.files, angular.element(this).scope().$index)" ng-model="Photo[$index]">
                                            </div>
                                        </div><!--/.preview-box-->
                                        <small>Max: 1 MB</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>          
            </div><!--/row-->

            <div class="pull-right mt-45 mb-30">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium" type="submit">Save</button>
                    <a href="/#/users" class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium">Cancel</a>
                </div>
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->
<style>
    .createUser .table-responsive-cust {
        font-size: 14px;
        font-size: 1.4rem; 
    }
    .createUser .form-control {
        font-size: 13px;
        font-size: 1.3rem;
        padding-left: 5px;
        padding-right: 5px
    }
    .createUser .form-control-small {
        width: 100%;
    }
</style>