<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Site Track</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-submenu.js"></script>
        <script type="text/javascript" src="js/html5shiv.js"></script>
        <script type="text/javascript" src="js/respond.js"></script>
        <script type="text/javascript" src="js/site.js"></script>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="pull-right welcome-wrapper">
                    <ul>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle welcome-text" data-toggle="dropdown" role="button" aria-expanded="false">Welcome : <span class="username">akbarraja</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu weclome-list dropdown-menu-right" role="menu">
                                <li>Last Login IP : <span class="ip-address pl-5">111.111.222.11</span></li>
                                <li>Last login location : <span class="location pl-5">Dubai (UAE)</span></li>
                            </ul>
                         </li>
                        <li><a class="btn btn-primary btn-small" href="#">Logout <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                    <div class="last-login">Last login : <span class="date-time text-muted">14 Oct 2014 10:am</span></div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="nav-container">
                <div class="container-fluid">
                    <nav class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View / Edit / Print <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="col-xs-12 pull-right">
                                    <form class="" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control search-control" placeholder="Search..." name="q" style="padding:6px 6px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary search-btn" type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav><!--/.nav-collapse -->
                </div>
            </div><!--/nav-container-->
        </header><!--/navbar-default-->
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content primary-bg-wrapper column-gs-sm">
                        <div class="row">
                            <div class="col-sm-6">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Manage</a></li>
                                    <li><a href="#" class="active">Users</a></li>
                                </ol>
                            </div>
                            <div class="col-sm-6 text-right">
                                <h4 class="mt-5 mb-0">Manage Users</h4>
                            </div>              
                        </div><!--/row-->
                        <div class="row mt-15">
                            <div class="col-xs-12">
                                <div role="tabpanel">
                                    
                                    <!-- Tab panes -->
                                    <div class="tab-content col-xs-12 pl-lg-25 pr-lg-25">
                                        <div role="tabpanel" class="tab-pane col-xs-12 active" id="List_Tags">
                                            <div class="row">
                                                <div class="col-xs-12 search-tag-box mb-sm-large">
                                                    <div class="row">
                                                        <h2 class="col-xs-12 search-title">Search Users<button class="pull-right btn icon-btn"><i class="fa fa-sort-desc fa-2x" id="down-arrow"></i><i class="fa fa-sort-asc fa-2x" id="up-arrow" style="display: none"></i></button>
                                                        </h2>
                                                    </div><!--/row-->
                                                    <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper" role="form">
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Name :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Username :</label>
                                                                    <div class="col-sm-6">
                                                                       
                                              <input type="text" class="form-control" /> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">User Group :</label>
                                                                    <div class="col-sm-6"><select class="form-control">
                                                                            <option>Select user group</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Email :</label>
                                                                    <div class="col-sm-6">
                                                                        <input class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">Phone Number :</label>
                                                                    <div class="col-sm-6">
                                                                        <input class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-5">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label text-right">User Status :</label>
                                                                    <div class="col-sm-6">
                                                                        <select class="form-control">
                                                                            <option>Select User status</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--/row-->
                                                        <div class="row mt-20">
                                                           <div class="col-sm-10 text-center">
                                                                <button class="btn btn-primary mb-sm-5">Search</button>
                                                                <button class="btn btn-primary mb-sm-5">Clear Search</button>
                                                           </div> 
                                                        </div>
                                                    </form>
                                                </div><!--/search-tag-box-->
                                            </div><!--/row-->
                                            <div class="row mt-20">
                                                <button class="btn btn-default add-new-btn"><i class="fa fa-plus-circle fa-1x"></i>Add New User</button>
                                            </div><!--/row-->
                                            <div class="row mt-15">
                                                <div class="">
                                                    <div class="table-responsive table-responsive-cust">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">User ID</th>
                                                                    <th class="text-center">Name</th>
                                                                    <th class="text-center">Username</th>
                                                                    <th class="text-center">Designation</th>
                                                                    <th class="text-center">Email</th>
                                                                    <th class="text-center">Phone Number</th>
                                                                    <th class="text-center">Receive Notification</th>
                                                                    <th class="text-center">Allow BA</th>
                                                                    <th class="text-center"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-center">1</td>
                                                                    <td>Test Name</td>
                                                                    <td>Test username</td>
                                                                    <td>Test Designation</td>
                                                                    <td>Test email</td>
                                                                    <td class="text-right">+112 22333332</td>
                                                                    <td class="text-center">
                                                                        <select class="form-control">
                                                                            <option>Daily</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" />
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                                                        <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">1</td>
                                                                    <td>Test Name</td>
                                                                    <td>Test username</td>
                                                                    <td>Test Designation</td>
                                                                    <td>Test email</td>
                                                                    <td class="text-right">+112 22333332</td>
                                                                    <td class="text-center">
                                                                        <select class="form-control">
                                                                            <option>Daily</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" />
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                                                        <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">1</td>
                                                                    <td>Test Name</td>
                                                                    <td>Test username</td>
                                                                    <td>Test Designation</td>
                                                                    <td>Test email</td>
                                                                    <td class="text-right">+112 22333332</td>
                                                                    <td class="text-center">
                                                                        <select class="form-control">
                                                                            <option>Daily</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" />
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                                                        <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>          
                                            </div><!--/row-->
                                        </div>
                                        <div role="tabpanel" class="tab-pane col-xs-12" id="Tag_Process_Type">...</div>
                                        <div role="tabpanel" class="tab-pane col-xs-12" id="Tag_Items">...</div>
                                    </div><!--/tab-content-->
                                </div><!--/tabpanel-->
                            </div>      
                        </div><!--/row-->
                    </div><!--/content-->
                </div>
            </div><!--/row-->
        </section>
        <!--/container-fluid-->
        <footer class="footer-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <ul> 
                            <li><a href="#">Terms and Conditions of Use </a><span>|</span></li>
                            <li><a href="#">Privacy Policy </a><span>|</span></li>
                            <li><a href="#">Customer Support </a><span>|</span></li>
                            <li><a class="active" href="#">Andriod App </a></li>
                        </ul>
                    </div>
                </div><!--/row-->
                <div class="row">
                    <div class="col-xs-12 text-center copyright">
                        <span>&copy;</span> Site Track -nfc.com 2013 , All Rights Reserved
                    </div>
                </div><!--/row-->
            </div>
        </footer><!--/footer-wrapper-->
    </body>
</html>