<div role="tabpanel" class="tab-pane col-xs-12 active" id="List_Tags">
    <div class="row">
        <div class="col-xs-12 search-box mb-sm-large">
            <div class="row">
                <h2 class="col-xs-12 search-title">Search Users<button class="pull-right btn icon-btn"><i class="fa fa-sort-desc fa-2x" id="down-arrow"></i><i class="fa fa-sort-asc fa-2x" id="up-arrow" style="display: none"></i></button>
                </h2>
            </div><!--/row-->
            <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper" role="form">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Name :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Username :</label>
                            <div class="col-sm-6">

      <input type="text" class="form-control" /> 
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">User Group :</label>
                            <div class="col-sm-6"><select class="form-control">
                                    <option>Select user group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Email :</label>
                            <div class="col-sm-6">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Phone Number :</label>
                            <div class="col-sm-6">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">User Status :</label>
                            <div class="col-sm-6">
                                <select class="form-control">
                                    <option>Select User status</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
                <div class="row mt-20">
                   <div class="col-sm-10 text-center">
                        <button class="btn btn-primary mb-sm-5">Search</button>
                        <button class="btn btn-primary mb-sm-5">Clear Search</button>
                   </div> 
                </div>
            </form>
        </div><!--/search-tag-box-->
    </div><!--/row-->
    <div class="row mt-20">
        <button class="btn btn-default add-new-btn"><i class="fa fa-plus-circle fa-1x"></i>Add New User</button>
    </div><!--/row-->
    <div class="row mt-15">
        <div class="">
            <div class="table-responsive table-responsive-cust">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">User ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Username</th>
                            <th class="text-center">Designation</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone Number</th>
                            <th class="text-center">Receive Notification</th>
                            <th class="text-center">Allow BA</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Test Name</td>
                            <td>Test username</td>
                            <td>Test Designation</td>
                            <td>Test email</td>
                            <td class="text-right">+112 22333332</td>
                            <td class="text-center">
                                <select class="form-control">
                                    <option>Daily</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" />
                            </td>
                            <td class="text-center">
                                <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Test Name</td>
                            <td>Test username</td>
                            <td>Test Designation</td>
                            <td>Test email</td>
                            <td class="text-right">+112 22333332</td>
                            <td class="text-center">
                                <select class="form-control">
                                    <option>Daily</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" />
                            </td>
                            <td class="text-center">
                                <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Test Name</td>
                            <td>Test username</td>
                            <td>Test Designation</td>
                            <td>Test email</td>
                            <td class="text-right">+112 22333332</td>
                            <td class="text-center">
                                <select class="form-control">
                                    <option>Daily</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" />
                            </td>
                            <td class="text-center">
                                <button class="btn icon-btn"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                <button class="btn icon-btn"><i class="fa fa-trash fa-lg"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>          
    </div><!--/row-->
</div>