<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form" ng-submit="updateUser()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">First Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.first_name}">
                            <input type="text" class="form-control" ng-model='user.first_name' ng-required="true" maxlength="64" />
                            <div class="help-block help-block-error">{{serverError.first_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Username (Login Name) :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.username}">
                            <input type="text" class="form-control" ng-value="user.username" readonly />
                            <div class="help-block help-block-error">{{serverError.username}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Last Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.last_name}">
                            <input type="text" class="form-control" ng-model='user.last_name' ng-required="true" maxlength="64" />
                            <div class="help-block help-block-error">{{serverError.last_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Email :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.email}">
                            <input type="email" class="form-control" ng-model='user.email' ng-required="true" maxlength="128" />
                            <div class="help-block help-block-error">{{serverError.email}}</div>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Designation :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model='user.designation' maxlength="64" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Phone Number :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model='user.contact_number' maxlength="16" />
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">User Role :</label>
                        <div class="col-sm-8 col-md-7">
                            <select class="form-control" ng-model="user.role" ng-options="rol.id as rol.role_name for rol in roles" ng-required="true" >
                                <option value="">-- Select Role--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">User Status :</label>
                        <div class="col-sm-8 col-md-7">
                            <select class="form-control" ng-model="user.status">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Allow BA :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="checkbox" ng-model="user.allow_be" ng-true-value="1" ng-false-value="0" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Notification :</label>
                        <div class="col-sm-8 col-md-7">
                            <select class="form-control" ng-model="user.rec_notification" ng-options="notify.id as notify.name for notify in rec_noti"></select>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label"></label>
                        <div class="col-sm-8 col-md-7">
                            <div class="col-sm-6 pr-lg-0">
                                <div class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                    <span>Upload Photo</span>
                                    <input type="file" class="upload" onchange="angular.element(this).scope().onFileSelect(this.files)" ng-model="user.photo">
                                </div>
                                <small>Max: 1 MB</small>
                            </div>
                            <div class="col-sm-6">
                                <div class="preview-box ">
                                    <div class="fileUpload">
                                        <div ng-hide="user.photo" style="cursor: pointer;border: 1px solid #ccc;background-color: #fff;padding: 20px;" title="Click to upload">PREVIEW</div>
                                        <div ng-show="user.photo" class="center" style="border: 1px solid #ccc;height: 104px;width: 104px;background-color: #fff;">
                                            <button type="button" title="Click to remove image." ng-click="removePhoto()" style="position:absolute;right: -22px; top: -14px" class="btn btn-link">
                                                <i class="fa fa-times-circle-o fa-lg"></i>
                                            </button>
                                            <img ng-src="{{user.photo}}" />
                                        </div>
                                    </div>
                                </div><!--/.preview-box-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row mt-45 mb-30">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium" type="submit">Save</button>
                    <a href="/#/users" class="btn btn-danger btn-lg btn-plr-medium">Cancel</a>
                </div>
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->