<section class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="content primary-bg-wrapper">
                    <div class="wrapper">
                        <div class="primary-title-box">
                            <h3 class="primary-title mt-0">Active Project : <span class="pull-right">6 of 50 allowed</span></h3>
                        </div>
                        <div class="primary-title-box">
                            <h3 class="primary-title mt-0">Total Tags : <span class="pull-right">1000 of 5000 allowed</span></h3>
                        </div>
                        <div class="primary-title-box">
                            <h3 class="primary-title mt-0">Total Users : <span class="pull-right">30 of 100 allowed</span></h3>
                        </div>
                        <div class="primary-title-box">
                            <h3 class="primary-title mt-0">Total Items : <span class="pull-right">1000 of 5000 allowed</span></h3>
                        </div>
                        <div class="primary-title-box">
                            <h3 class="primary-title mt-0">Space Used : <span class="pull-right">0.4 GB / 1 GB allowed</span></h3>
                        </div>
                    </div><!--/wrapper-->
                    <div class="wrapper">
                        <div class="col-sm-7 col-md-8 col-lg-9 cust-col">
                            <div class="row cust-row">
                                <div ng-repeat="project in projects" class="col-md-6 col-lg-4 cust-col">
                                    <div class="box">
                                        <h5 class="project-title mt-0">
                                            <strong>Project: <span class="project-name">{{project.project_name}}</span></strong><br />
                                            <span>{{project.project_location}}, {{project.city}}, UAE</span>
                                        </h5>
                                        <ul ng-class="{showfull: project.showFull}">
                                            <li>
                                                <span class="pull-left">Total Tags</span>
                                                <span class="pull-right">500</span>
                                            </li>
                                            <li style="padding-left: 30px;">
                                                <span class="pull-left">Activities Logged</span>
                                                <span class="pull-right">600</span>
                                            </li>
                                            <li>
                                                <span class="pull-left">Total master Tags</span>
                                                <span class="pull-right">50</span>
                                            </li>
                                            <li style="padding-left: 30px;">
                                                <span class="pull-left">Activities Logged</span>
                                                <span class="pull-right">600</span>
                                            </li>
                                            <li>
                                                <span class="pull-left">Total Levels</span>
                                                <span class="pull-right">5</span>
                                            </li>
                                            <li style="padding-left: 30px;">
                                                <span class="pull-left">Total Sub Levels</span>
                                                <span class="pull-right">15</span>
                                            </li>
                                            <li>
                                                <span class="pull-left">Tag Item Types</span>
                                                <span class="pull-right">20</span>
                                            </li>
                                            <li style="padding-left: 30px;">
                                                <span class="pull-left">Tag Sub Items</span>
                                                <span class="pull-right">40</span>
                                            </li>
                                            <li>
                                                <span class="pull-left">Total User Groups</span>
                                                <span class="pull-right">5</span>
                                            </li>
                                            <li style="padding-left: 30px;">
                                                <span class="pull-left">Total Users</span>
                                                <span class="pull-right">100</span>
                                            </li>
                                        </ul>
                                        <button class="btn show-more" ng-click="project.showFull=true" ng-hide="project.showFull"><span class="caret"></span></button>
                                    </div><!--/box-->
                                </div>
                            </div><!--/row-->
                        </div>
                        <div class="col-sm-5 col-md-4 col-lg-3 cust-col">
                            <div class="box sidebar-box">
                                <hgroup>
                                <h5 class="project-title mt-0">Total User Group: <span class="project-name pull-right">5</span></h5>
                                <h6>Group A<span class="pull-right">5</span></h6>
                                </hgroup>
                                <ul>
                                    <li>
                                        <span class="pull-left">Total User Levels</span>
                                        <span class="pull-right">30</span>
                                    </li>
                                    <li>
                                        <span class="pull-left">Total Users</span>
                                        <span class="pull-right">15</span>
                                    </li>
                                </ul>
                            </div><!--/box-->
                            <div class="box sidebar-box">
                                <h6>Group A<span class="pull-right">5</span></h6>
                                <ul>
                                    <li>
                                        <span class="pull-left">Total User Levels</span>
                                        <span class="pull-right">30</span>
                                    </li>
                                    <li>
                                        <span class="pull-left">Total Users</span>
                                        <span class="pull-right">15</span>
                                    </li>
                                </ul>
                            </div><!--/box-->
                            <div class="box sidebar-box">
                                <h6>Group A<span class="pull-right">5</span></h6>
                                <ul>
                                    <li>
                                        <span class="pull-left">Total User Levels</span>
                                        <span class="pull-right">30</span>
                                    </li>
                                    <li>
                                        <span class="pull-left">Total Users</span>
                                        <span class="pull-right">15</span>
                                    </li>
                                </ul>
                            </div><!--/box-->
                            <div class="box sidebar-box">
                                <h6>Group A<span class="pull-right">5</span></h6>
                                <ul>
                                    <li>
                                        <span class="pull-left">Total User Levels</span>
                                        <span class="pull-right">30</span>
                                    </li>
                                    <li>
                                        <span class="pull-left">Total Users</span>
                                        <span class="pull-right">15</span>
                                    </li>
                                </ul>
                            </div><!--/box-->
                        </div>
                    </div><!--/wrapper-->
                </div><!--/content-->
            </div>
        </div><!--/row-->
    </section>
<style>
    ul.showfull {
        overflow: auto;
        height: 192px;
    }
</style>