<section class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="content primary-bg-wrapper">
                <div class="wrapper">
                    <div class="primary-title-box">
                        <h3 class="primary-title mt-0">
                            Active Project : 
                            <span class="pull-right">
                                {{stats.projects.count}} of {{stats.projects.limit}}
                            </span>
                        </h3>
                    </div>
                    <div class="primary-title-box">
                        <h3 class="primary-title mt-0">
                            Total Tags : 
                            <span class="pull-right">
                                {{stats.projects.count}} of {{stats.projects.limit}}
                            </span>
                        </h3>
                    </div>
                    <div class="primary-title-box">
                        <h3 class="primary-title mt-0">
                            Total Users : 
                            <span class="pull-right">
                                {{stats.users.count}} of {{stats.users.limit}}
                            </span>
                        </h3>
                    </div>
                    <div class="primary-title-box">
                        <h3 class="primary-title mt-0">
                            Total Items : 
                            <span class="pull-right">
                                {{stats.items.count}} of {{stats.items.limit}}
                            </span>
                        </h3>
                    </div>
                    <div class="primary-title-box">
                        <h3 class="primary-title mt-0">
                            Data : 
                            <span class="pull-right">
                                {{stats.space.count}} of {{stats.space.limit}}
                            </span>
                        </h3>
                    </div>
                </div><!--/wrapper-->
                <div class="search-box">
                    <h2 class="col-xs-12 search-title clickable" ng-click="hideChart=!hideChart;">
                        Project Progress
                        <button class="pull-right btn icon-btn">
                            <i ng-class="{'fa fa-sort-desc fa-2x': !hideChart,'fa fa-sort-asc fa-2x': hideChart}"></i>
                        </button>
                    </h2>
                    <div class="wrapper slide" ng-hide="hideChart">
                        <script type="text/javascript" src="/js/Chart.min.js"></script>
                        <div class="col-xs-12 col-sm-12" style="background-color: #fff;">
                            <select class="form-control form-control-small pull-right mt-10">
                                <option value="weekly">This Week</option>
                                <option value="weekly">This month</option>
                                <option value="weekly">This Quarter</option>
                                <option value="weekly">This Yearly</option>
                            </select>
                            <canvas id="canvas" height="200" width="600"></canvas>
                        </div>
                        <script>
                            var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

                            var barChartData = {
                                    labels : ["Mirbat Resorts","City Center","Sky Tower","Star Trek","Site Construction","Sidhpur Villa","Resort"],
                                    datasets : [
                                            {
                                                    fillColor : "rgba(220,220,220,0.5)",
                                                    strokeColor : "rgba(220,220,220,0.8)",
                                                    highlightFill: "rgba(220,220,220,0.75)",
                                                    highlightStroke: "rgba(220,220,220,1)",
                                                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                                            },
                                            {
                                                    fillColor : "rgba(151,187,205,0.5)",
                                                    strokeColor : "rgba(151,187,205,0.8)",
                                                    highlightFill : "rgba(151,187,205,0.75)",
                                                    highlightStroke : "rgba(151,187,205,1)",
                                                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                                            }
                                    ]

                            }
                            var ctx = document.getElementById("canvas").getContext("2d");
                            window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                            });

                        </script>
                    </div>
                </div>
                <div class="wrapper mt-20">
                    <div class="col-sm-7 col-md-8 col-lg-9 cust-col">
                        <div class="row cust-row">
                            <div ng-repeat="project in projects" class="projectbox col-md-6 col-lg-4 cust-col">
                                <div class="box">
                                    <h5 class="project-title mt-0">
                                        <strong>Project: <span class="project-name">{{project.project_name}}</span></strong><br />
                                        <span>{{project.project_location}}, {{project.project_city}}, {{project.project_country}}</span>
                                    </h5>
                                    <ul ng-class="{showfull: project.showFull}">
                                        <li>
                                            <span class="pull-left">Simple Tags</span>
                                            <span class="pull-right">{{project.stats.sTags.count}}</span>
                                        </li>
                                        <li style="padding-left: 30px;">
                                            <span class="pull-left">Activities Logged</span>
                                            <span class="pull-right">{{project.stats.sTags.activities}}</span>
                                        </li>
                                        <li>
                                            <span class="pull-left">Total master Tags</span>
                                            <span class="pull-right">{{project.stats.mTags.count}}</span>
                                        </li>
                                        <li style="padding-left: 30px;">
                                            <span class="pull-left">Activities Logged</span>
                                            <span class="pull-right">{{project.stats.mTags.activities}}</span>
                                        </li>
                                        <li>
                                            <span class="pull-left">Total Levels</span>
                                            <span class="pull-right">{{project.stats.levels.count}}</span>
                                        </li>
                                        <li style="padding-left: 30px;">
                                            <span class="pull-left">Total Sub Levels</span>
                                            <span class="pull-right">{{project.stats.sublevels.count}}</span>
                                        </li>
                                        <li>
                                            <span class="pull-left">Tag Item Types</span>
                                            <span class="pull-right">{{project.stats.item.count}}</span>
                                        </li>
                                        <li style="padding-left: 30px;">
                                            <span class="pull-left">Tag Sub Items</span>
                                            <span class="pull-right">{{project.stats.subitem.count}}</span>
                                        </li>
                                        <li>
                                            <span class="pull-left">Total User Groups</span>
                                            <span class="pull-right">{{project.stats.usergroups.count}}</span>
                                        </li>
                                        <li style="padding-left: 30px;">
                                            <span class="pull-left">Total Users</span>
                                            <span class="pull-right">{{project.stats.users.count}}</span>
                                        </li>
                                    </ul>
                                    <button class="btn show-more" ng-click="project.showFull=true" ng-hide="project.showFull"><span class="caret"></span></button>
                                </div><!--/box-->
                            </div>
                            <h3 ng-if="projects.length ==0" class="cust-col">
                                Welcome to SiteTrack<br /><br />
                                <a href="/#/projects/create">Create your First Project here.</a>
                            </h3>
                        </div><!--/row-->
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-3 cust-col">
                        <hgroup>
                            <h5 class="project-title mt-0 mb-0">Total User Group: <span class="project-name pull-right">{{usergroups.length}}</span></h5>
                        </hgroup>
                        <div class="box sidebar-box" ng-repeat="group in usergroups">
                            <h6>{{group.group_name}}<span class="pull-right"></span></h6>
                            <ul>
                                <li>
                                    <span class="pull-left">Total User Levels</span>
                                    <span class="pull-right">{{group.stats.levels.count}}</span>
                                </li>
                                <li>
                                    <span class="pull-left">Total Users</span>
                                    <span class="pull-right">{{group.stats.users.count}}</span>
                                </li>
                            </ul>
                        </div><!--/box-->
                    </div>
                </div><!--/wrapper-->
            </div><!--/content-->
        </div>
    </div><!--/row-->
</section>