<div role="tabpanel">
    <!-- Tab panes -->
    <div class="tab-content col-xs-12">
         <div class="row">
            <div class="col-md-12">
                <div class="row"    >
                  <div class="col-lg-12">
                        <button class='btn btn-primary' ng-click="newSubItem(list, 'top')">
                            Add New User Group
                        </button>
                        <div class='row' style='padding:20px;'>
                        <div ui-tree callbacks="callbacks" nodrag="true">
                            <ol ui-tree-nodes ng-model="list">
                              <li ng-repeat="item in list" ui-tree-node>
                                <div ui-tree-handle class="user_group">
                                    <div click-to-edit="item" template-url="editGroup.html" editable-field="item.group_name"></div>
                                </div>
                                <ol ui-tree-nodes ng-model="item.levels" ng-hide="collapsed" class="slide">
                                    <li ng-repeat="item in item.levels" ui-tree-node>
                                        <div ui-tree-handle class="user_level">
                                            <div click-to-edit="item" template-url="editLevel.html" editable-field="item.level_name"></div>
                                        </div>
                                        <div ng-hide="!item.collapsed" style="padding: 20px;border: 1px solid #ccc;" class="slide">
                                            <div class="row mt-15" ng-include="'levelUsers.html'"></div>
                                        </div>
                                    </li>
                                 </ol>
                              </li>
                            </ol>
                            <span ng-if="list.length==0">No data available.</span>
                            <span ng-if="!list"><i class="fa fa-refresh"></i>Loading...</span>
                        </div>
                  </div>
              </div>

            </div>
          </div>

    </div><!--/tab-content-->
</div><!--/tabpanel-->
<script type="text/ng-template" id="levelUsers.html">
    <!-- Tab panes -->
        <div role="tabpanel" class="tab-pane col-xs-12 active" id="List_Tags">
            <div class="row" ng-hide="!item.users">
                <div class="col-xs-12 search-box mb-sm-large">
                    <div class="row">
                        <h2 class="col-xs-12 search-title">Search Assigned Users
                            <button class="pull-right btn icon-btn" ng-click="item.showSearchBox=!item.showSearchBox;">
                                <i ng-class="{'fa fa-sort-desc fa-2x': item.showSearchBox,'fa fa-sort-asc fa-2x': !item.showSearchBox}"></i>
                            </button>
                        </h2>
                    </div><!--/row-->
                    <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form" ng-class="{'ng-hide':!item.showSearchBox}">
                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label text-right">First Name :</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="item.search.first_name" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label text-right">Last Name :</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="item.search.last_name" />
                                    </div>
                                 </div>
                            </div>

                        </div><!--/row-->

                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label text-right">User Name :</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="item.search.username" />
                                    </div>
                                </div>
                            </div>

                                 <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label text-right">Designation :</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="item.search.designation" />
                                    </div>
                                </div>
                            </div>

                        </div><!--/row-->

                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label text-right">Email :</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="item.search.email" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label text-right">Phone Number :</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="item.search.contact_number" />
                                    </div>
                                </div>
                            </div>

                        </div><!--/row-->
                        <div class="row mt-20">
                           <div class="col-sm-10 text-center">
                                <button class="btn btn-primary mb-sm-5" ng-click="searchUser(item)">Search</button>
                                <button class="btn btn-primary mb-sm-5" ng-click="item.search={};searchUser(item)">Clear Search</button>
                           </div> 
                        </div>
                    </form>
                </div><!--/search-tag-box-->
            </div><!--/row-->
            <div class="row mt-20">
            <button class="btn btn-default add-new-btn" ng-click="assignUsersModal(item)"><i class="fa fa-plus-circle fa-1x"></i>Assign User to Levels</button>
            </div><!--/row-->
            <div class="row mt-15">
                <div class="">
                    <div class="table-responsive table-responsive-cust">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">
                                        <a ng-href="" ng-click="sortUser(item, 'username')">Username <i class="fa fa-sort{{item.sort.username}}"></i></a>
                                    </th>
                                    <th class="text-center">
                                        <a ng-href="" ng-click="sortUser(item, 'first_name, last_name')">Name <i class="fa fa-sort{{item.sort.name}}"></i></a>
                                    </th>
                                    <th class="text-center">
                                        <a ng-href="" ng-click="sortUser(item, 'designation')">Designation <i class="fa fa-sort{{item.sort.designation}}"></i></a>
                                    </th>
                                    <th class="text-center" width="30%">Projects</th>
                                    <th class="text-center">Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in item.users">
                                    <td class="text-center"><button class="btn icon-btn" ng-click="unassignLevelUser(user.id, item, $index)" ng-init="item.availableUserIds[$index]=user.id"><i class="fa fa-trash fa-lg"></i></button></td>
                                    <td class="text-center">{{user.username}}</td>
                                    <td class="text-center">{{user.first_name}} {{user.last_name}}</td>
                                    <td class="text-center">{{user.designation}}</td>
                                    <td class="text-center">
                                        <span ng-repeat="project in user.assignedProjects" class="mr-10"><a href="/#/projects/{{project.id}}" target="_blank" ng-bind-html="project.project_name"></a>,</span>
                                        <span ng-hide="user.assignedProjects.length>0">No projects assigned.</span>
                                    </td>
                                    <td class="text-center"><a href="mailto: {{user.email}}">{{user.email}}</a><br /><small>{{user.contact_number}}</small></td>
                                </tr>
                                <tr ng-hide="item.users.length">
                                    <td colspan=6>No user assigned.</td>
                                </tr>
                            </tbody> 
                        </table>
                        <nav class="pull-right">
                            <div class="pull-right">
                                <pagination total-items="item.users_totalCount" ng-model="item.users_currentPage" items-per-page="item.users_numPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="item.users_pageCount" ng-change="searchUser(item)"></pagination>
                                <select class="form-control pull-right" style="width: 60px;margin: 20px 2px;height: 28px;padding: 3px" ng-change="searchUser(item)" ng-model="item.users_numPerPage" ng-options="k as v for (k,v) in page_dropdown">
                                </select>
                            </div>
                        </nav>
                    </div>
                </div>          
            </div><!--/row-->
    </div>
</script>
<script type="text/ng-template" id="editLevel.html">
    <div class="click-to-edit"><div ng-hide="view.editorEnabled"><a class="btn btn-success btn-xs" ng-click="$parent.loadUsers(view)">
        <span class="fa" ng-class="{'fa-chevron-right': !view.collapsed, 'fa-chevron-down': view.collapsed}"></span></a>
        {{view.editableValue}}
        &nbsp;&nbsp; <a class="btn-info" ng-show="view.loading"><i class="fa fa-refresh"></i> Loading users..</a>
        <a class="pull-right btn btn-danger btn-xs" ng-click="$parent.removeItem($parent)" ng-confirm-click="Are you sure to remove this level? This action cannot be undone."><span class="fa fa-trash"></span></a>
        <a class="pull-right btn btn-primary btn-xs" ng-click="enableEditor()" style="margin-right: 8px;">
            <span class="fa fa-pencil"></span>
        </a>
        <a class="pull-right btn btn-primary btn-xs" ng-click="$parent.loadUsers(view)" style="margin-right: 8px;">
            <i class="fa fa-user"></i> Users
        </a>
    </div>
    <div ng-show="view.editorEnabled" class="slide">
        <form class="form-inline" ng-submit="$parent.saveItem($parent, view.editableValue);">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Level Name" ng-required="true" ng-model="view.editableValue" />
            </div>
            <button class="btn btn-primary">Save</button>
            <a ng-click="disableEditor()" class="btn btn-primary">cancel</a>
        </form>
    </div>
</div>
</script>
<script type="text/ng-template" id="editGroup.html">
    <div class="click-to-edit">
        <div ng-hide="view.editorEnabled"><a class="btn btn-success btn-xs" ng-click="$parent.toggle($parent)">
            <span class="fa" ng-class="{'fa-plus': $parent.collapsed, 'fa-minus': !$parent.collapsed}"></span></a>
            {{view.editableValue}}
            <a class="pull-right btn btn-danger btn-xs" ng-click="$parent.removeItem($parent)" ng-confirm-click="Are you sure to remove this group? On removing this group, all related levels will be removed."><span class="fa fa-trash"></span></a>
            
            <a class="pull-right btn btn-primary btn-xs" ng-click="$parent.newSubItem(view, 'user_group')" style="margin-right: 8px;"><span class="fa fa-plus"></span></a>
            <a class="pull-right btn btn-primary btn-xs" ng-click="enableEditor()" style="margin-right: 8px;">
                <span class="fa fa-pencil"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" ng-click="$parent.showProjectsModal(view)" style="margin-right: 8px;">Projects</a>
        </div>
        <div ng-show="view.editorEnabled" class="slide">
            <form class="form-inline" ng-submit="$parent.saveItem($parent, view.editableValue);">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Level Name" ng-required="true" ng-model="view.editableValue" />
                </div>
                <button class="btn btn-primary">Save</button>
                <a ng-click="disableEditor()" class="btn btn-primary">cancel</a>
            </form>
        </div>
    </div>
</script>