<div class=" modal-lg col-xs-12 secondary-bg">
    <!--/shadow-box-->
    <div style="border: 1px solid #dddddd;">
        <h2 class="pl-10">Assigned Projects
            <button class="pull-right btn btn-success" ng-click="close()">
                Close
            </button>
        </h2>
        <div class="table-responsive table-responsive-cust mt-15">
            <div class="">
                <div class="table-responsive table-responsive-cust">
                    <nav class="pull-right">
                        <div class="pull-right">
                            <pagination total-items="list_totalCount" ng-model="list_currentPage" items-per-page="list_numPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="list_pageCount" ng-change="listProjects()"></pagination>
                            <select class="form-control pull-right" style="width: 60px;margin: 20px 2px;height: 28px;padding: 3px" ng-change="listProjects()" ng-model="list_numPerPage" ng-options="k as v for (k,v) in page_dropdown">
                            </select>
                        </div>
                    </nav>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">S. No</th>
                                <th class="text-center">Project Name</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Client</th>
                                <th class="text-center">Contractor</th>
                                <th class="text-center">Consultant</th>
                                <th class="text-center">About</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in selectedProjects">
                                <td class="text-center"><button class="btn icon-btn" ng-click="unassignProjects(project.id, $index)"><i class="fa fa-trash fa-lg"></i></button></td>
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-center">{{project.project_name}}</td>
                                <td class="text-center">{{project.project_location}} {{project.project_city}}, {{project.project_country}}</td>
                                <td class="text-center">{{project.client_project_manager}}</td>
                                <td class="text-center">{{project.main_contractor}}</td>
                                <td class="text-center">{{project.consultant}}</td>
                                <td class="text-center">{{project.about}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <div class="table-responsive table-responsive-cust mt-20">
        <div class="col-xs-12 search-box mb-sm-large mb-10">
            <div class="row">
                <h2 class="search-title clickable pl-10" ng-click="showSearchBox=!showSearchBox;">
                    Search and assign Projects
                    <button type="button" class="pull-right btn icon-btn">
                        <i ng-class="{'fa fa-sort-desc fa-2x': showSearchBox,'fa fa-sort-asc fa-2x': !showSearchBox}"></i>
                    </button>
                </h2>
            </div><!--/row-->
            <form ng-submit="getAllProjects()" role="form" class="form-horizontal form-horizontal-typ1 form-wrapper mt-15" id="form">
                <div class="slide" ng-hide="!showSearchBox">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Project Name :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="search.project_name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="form-group">
                                <label class="col-sm-4 col-lg-3 control-label text-right">Client :</label>
                                <div class="col-sm-6 col-lg-5">
                                    <input class="form-control" ng-model="search.client_project_manager" type="text" />
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->

                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Location :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="search.project_location" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="form-group">
                                <label class="col-sm-4 col-lg-3 control-label text-right">Consultant :</label>
                                <div class="col-sm-6 col-lg-5">
                                    <input class="form-control" ng-model="search.consultant" type="text" />
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->

                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Address :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="search.project_address" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="form-group">
                                <label class="col-sm-4 col-lg-3 control-label text-right">Contractor :</label>
                                <div class="col-sm-6 col-lg-5">
                                    <input type="text" class="form-control" ng-model="search.main_contractor" />
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->

                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">City :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="search.project_city" />
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row mt-20">
                       <div class="col-sm-10 text-center">
                            <button class="btn btn-primary mb-sm-5" type="submit">Search</button>
                            <button class="btn btn-primary mb-sm-5" ng-click="clearSearch()">Clear Search</button>
                       </div>
                    </div>
                </div>
                <div class="clearfix table-responsive table-responsive-cust mt-15">
                    <button type="button" ng-click="assignProjects()" class="btn btn-warning mb-10">Assign Selected Projects</button>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" ng-change="selectAllProjects(allProjects, allSelected)" ng-model="allSelected"  /></th>
                                <th class="text-center">
                                    Project Name</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Client</th>
                                <th class="text-center">Contractor</th>
                                <th class="text-center">Consultant</th>
                                <th class="text-center">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in allProjects">
                                <td class="text-center"><input type="checkbox" ng-model="project.isSelected" ng-change="selectProject(project)" /></td>
                                <td class="text-center">{{project.project_name}}</td>
                                <td class="text-center">{{project.project_location}} {{project.project_city}}, {{project.project_country}}</td>
                                <td class="text-center">{{project.client_project_manager}}</td>
                                <td class="text-center">{{project.main_contractor}}</td>
                                <td class="text-center">{{project.consultant}}</td>
                                <td class="text-center">{{project.about}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <pagination total-items="totalCount" ng-model="currentPage" items-per-page="numPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pageCount" ng-change="getAllProjects()">
                    </pagination>
                    <select class="form-control pull-right" style="width: 60px;margin: 20px 2px;height: 28px;padding: 3px" ng-change="getAllProjects()" ng-model="numPerPage" ng-options="k as v for (k,v) in page_dropdown">
                    </select>
                </div>
            </form>
        </div><!--/search-tag-box-->
        <div class="clearfix">
            <div class="pull-right">
                <div align="right">
                    <button class="btn btn-danger mb-sm-5" ng-click="close()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div><!--/secondary-bg-->