<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form" ng-submit="addMembership()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.name}">
                            <input type="text" class="form-control" ng-model='membership.name' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Limit Active Projects :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.limit_active_projects}">
                            <input type="number" class="form-control"  ng-model='membership.limit_active_projects' ng-value="membership.membershipname" ng-required="true" min="-1"  />
                            <div class="help-block help-block-error">{{serverError.limit_active_projects}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Limit Tags :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.limit_tags}">
                            <input type="number" class="form-control" ng-model='membership.limit_tags' ng-required="true" min="-1" />
                            <div class="help-block help-block-error">{{serverError.limit_tags}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Limit Users :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.limit_users}">
                            <input type="number" class="form-control" ng-model='membership.limit_users' ng-required="true" min="-1" />
                            <div class="help-block help-block-error">{{serverError.limit_users}}</div>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Limit Data :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.limit_data}">
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model='membership.limit_data' ng-required="true" min="-1" />
                                <div class="input-group-btn">
                                    <span class="btn btn-primary disabled">(in MB)</span>
                                </div>
                            </div>
                             <div class="help-block help-block-error">{{serverError.limit_data}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Limit Items :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.limit_items}">
                            <input type="number" class="form-control" ng-model='membership.limit_items' ng-required="true" min="-1"/>
                            <div class="help-block help-block-error">{{serverError.limit_items}}</div>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
              <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Status :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.status}">
                            <select class="form-control" ng-model="membership.status" ng-init="membership.status = 1" ng-required="true">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <div class="help-block help-block-error">{{serverError.status}}</div>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <strong>Note</strong> : -1 stands for Unlimited!
                    </div>
                </div>
            </div>
            <div class="row mt-45 mb-30">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium" type="submit">Save</button>
                    <a href="/#/sites-membership" class="btn btn-danger btn-lg btn-plr-medium">Cancel</a>
                </div>                
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->