<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form" ng-submit="saveUser()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">First Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.first_name}">
                            <input type="text" class="form-control" ng-model='user.first_name' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.first_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Username (Login Name) :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.username}">
                            <input type="text" class="form-control"  ng-model='user.username' ng-value="user.username" ng-required="true"  />
                            <div class="help-block help-block-error">{{serverError.username}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Last Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.last_name}">
                            <input type="text" class="form-control" ng-model='user.last_name' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.last_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Email :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.email}">
                            <input type="email" class="form-control" ng-model='user.email' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.email}}</div>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Designation :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model='user.designation' />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Phone Number :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model='user.contact_number' numbers-only max="10" />
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">User Role :</label>
                        <div class="col-sm-8 col-md-7">
                            <select class="form-control" ng-model="user.role" ng-options="rol.id as rol.role_name for rol in roles" ng-required="true" >
                                <option value="">-- Select Role--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">User Status :</label>
                        <div class="col-sm-8 col-md-7">
                            <select class="form-control" ng-model="user.status">
                                <option value="">-- Select Status--</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            
            
            <div class="row mt-45 mb-30">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium" type="submit">Save</button>
                    <a href="/#/sites-users" class="btn btn-danger btn-lg btn-plr-medium">Cancel</a>
                </div>
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->