<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form" ng-submit="saveCompany()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Company Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.company_name}">
                            <input type="text" class="form-control" ng-model='company.company_name' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.company_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Company Owner :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.company_owner}">
                            <input type="text" class="form-control" ng-model="company.company_owner" ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.company_owner}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Membership :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.email}">
                            <select class="form-control" ng-model="company.membership_id" ng-options="membership.id as membership.name for membership in memberships" ng-required="true" >
                                <option value="">-- Select Membership--</option>
                            </select>
                            <div class="help-block help-block-error">{{serverError.membership_id}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Status :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.company_status}">
                            <select class="form-control" ng-model="company.company_status">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <div class="help-block help-block-error">{{serverError.company_status}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Expiry Date :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.expiry_date}">
                            <div class="input-group">
                                <input type="text" style="padding:6px 6px;" name="q" placeholder="Expiry date..." class="form-control search-control" datepicker-popup="{{format}}" ng-model="company.expiry_date" is-open="datepickers.fromDate" max-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" autocomplete="off">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary search-btn" ng-click="openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                            <div class="help-block help-block-error">{{serverError.expiry_date}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Company Logo :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.company_logo}">
                            <div class="col-sm-6 pr-lg-0">
                                <div class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                    <span>Upload Logo</span>
                                    <input type="file" class="upload" onchange="angular.element(this).scope().onFileSelect(this.files)" ng-model="company.company_logo">
                                </div>
                                <small>Max: 1 MB</small>
                            </div>
                            <div class="col-sm-6">
                                <div class="preview-box ">
                                    <div class="fileUpload">
                                        <div ng-hide="company.company_logo" style="cursor: pointer;border: 1px solid #ccc;background-color: #fff;padding: 20px;" title="Click to upload">PREVIEW</div>
                                        <div ng-show="company.company_logo" class="center" style="border: 1px solid #ccc;height: 104px;width: 104px;background-color: #fff;">
                                            <button type="button" title="Click to remove image." ng-click="removePhoto()" style="position:absolute;right: -34px; top: -14px;z-index: 9999" class="btn btn-link">
                                                <i class="fa fa-times-circle-o fa-lg"></i>
                                            </button>
                                            <img ng-src="{{company.company_logo}}" />
                                        </div>
                                    </div>
                                </div><!--/.preview-box-->
                            </div>
                            <div class="help-block help-block-error">{{serverError.company_logo}}</div>
                        </div>
                    </div>
                </div>

            </div><!--/row-->
            
            <div class="row">
                <div class="col-md-6">
                    <h4>Super Admin</h4>
                </div>
            </div><!--/row-->
            <!-- user -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">First Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.first_name}">
                            <input type="text" class="form-control" ng-model='user.first_name' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.first_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Last Name :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.last_name}">
                            <input type="text" class="form-control" ng-model="user.last_name" ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.last_name}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Username :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.username}">
                            <input type="text" class="form-control" ng-model='user.username' ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.username}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">Email :</label>
                        <div class="col-sm-8 col-md-7" ng-class="{ 'has-error': serverError.email}">
                            <input type="email" class="form-control" ng-model="user.email" ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.email}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            

            <div class="row mt-45 mb-30">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium" type="submit">Save</button>
                    <a href="/#/companies" class="btn btn-danger btn-lg btn-plr-medium">Cancel</a>
                </div>
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->