<div class="col-xs-12">
    <div role="tabpanel">
        <!-- Tab panes -->
        <div class="tab-content col-xs-12 pl-lg-25 pr-lg-25">
             <div class="row">
                <div class="col-md-12">
                    <div class="row">
                      <div class="col-lg-12">
                          <button ng-if="permission.create" class='btn btn-primary' ng-click="newSubItem(list, 'top')">
                              Add Tag Item Group
                          </button>
                          <div class='row' style='padding:20px;' ng->
                            <div ui-tree>
                                <ol ui-tree-nodes="" ng-model="list" nodrag="true">
                                  <li ng-repeat="item in list" ui-tree-node>
                                    <div ui-tree-handle ng-class="'item_'+item.parent_id">
                                        <div ng-hide="item.editing">
                                            <a class="btn btn-success btn-xs" data-nodrag ng-click="loadItems(item)"><span class="fa" ng-class="{'fa-chevron-right': !item.collapsed, 'fa-chevron-down': item.collapsed}"></span></a>
                                            {{item.item_name}}
                                            &nbsp;&nbsp; <a class="btn-info" ng-show="item.loading"><i class="fa fa-refresh"></i> Loading items..</a>
                                            <a ng-if="permission.delete" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)" ng-confirm-click="Are you sure to delete this group? All items and sub-items will be removed."><span class="fa fa-trash"></span></a>
                                            <a ng-if="permission.create" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(item, 'item_'+item.parent_id)" style="margin-right: 8px;"><span class="fa fa-plus"></span></a>
                                            <a ng-if="permission.edit" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="updateItem(item)" style="margin-right: 8px;"><span class="fa fa-pencil"></span></a>
                                            <a ng-if="permission.assignprojects" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="showProjectsModal(item)" style="margin-right: 8px;">Projects</a>
                                        </div>
                                        <div ng-show="item.editing">
                                            <form class="form-inline" role="form" ng-submit="saveItem(item, item.tempTitle);">
                                                <div class="form-group">
                                                    <label class="sr-only" for="groupName">Group name</label>
                                                    <input type="text" class="form-control" placeholder="Group name" ng-model="item.tempTitle" ng-init="item.tempTitle=item.item_name" ng-required="true">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                                <button type="button" class="btn btn-primary" ng-click="cancelEditing(this)">Cancel</button>
                                            </form>
                                        </div>
                                     </div>
                                     <ol class="slide" ui-tree-nodes="options" ng-model="item.items" ng-show="item.collapsed">
                                        <li ng-repeat="item in item.items" ui-tree-node>
                                            <div ui-tree-handle ng-class="'item_'+item.parent_id">
                                                <div ng-hide="item.editing">
                                                    <a class="btn btn-success btn-xs" data-nodrag ng-click="loadItems(item)"><span class="fa" ng-class="{'fa-chevron-right': !item.collapsed, 'fa-chevron-down': item.collapsed}"></span></a>
                                                    {{item.item_name}}
                                                    &nbsp;&nbsp; <a class="btn-info" ng-show="item.loading"><i class="fa fa-refresh"></i> Loading items..</a>
                                                    <a ng-if="permission.delete" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)" ng-confirm-click="Are you sure to delete this item? All related sub items will be removed."><span class="fa fa-trash"></span></a>
                                                    <a ng-if="permission.create" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(item, 'item_'+item.parent_id)" style="margin-right: 8px;"><span class="fa fa-plus"></span></a>
                                                    <a ng-if="permission.edit" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="updateItem(item)" style="margin-right: 8px;"><span class="fa fa-pencil"></span></a>
                                                    <a ng-if="permission.assignprocess" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="linkProcess(item)" style="margin-right: 8px;">Assign Process Flow</a>
                                                </div>
                                                <div ng-show="item.editing">
                                                    <form class="form-inline" role="form" ng-submit="saveItem(item, item.tempTitle);">
                                                        <div class="form-group">
                                                            <label class="sr-only" for="groupName">Group name</label>
                                                            <input type="text" class="form-control" placeholder="Group name" ng-model="item.tempTitle" ng-init="item.tempTitle=item.item_name" ng-required="true">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                        <button type="button" class="btn btn-primary" ng-click="cancelEditing(this)">Cancel</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <ol class="slide" ui-tree-nodes="options" ng-model="item.items" ng-show="item.collapsed">
                                                <li ng-repeat="item in item.items" ui-tree-node>
                                                    <div ui-tree-handle ng-class="'item_'+item.parent_id">
                                                        <div ng-hide="item.editing">
                                                            {{item.item_name}}
                                                            <a ng-if="permission.delete" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)" ng-confirm-click="Are you sure to delete this group? This action can not be undone."><span class="fa fa-trash"></span></a>

                                                            <a ng-if="permission.edit" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="updateItem(item)" style="margin-right: 8px;"><span class="fa fa-pencil"></span></a>
                                                        </div>
                                                        <div ng-show="item.editing">
                                                            <form class="form-inline" role="form" ng-submit="saveItem(item, item.tempTitle);">
                                                                <div class="form-group">
                                                                    <label class="sr-only" for="groupName">Group name</label>
                                                                    <input type="text" class="form-control" placeholder="Group name" ng-model="item.tempTitle" ng-init="item.tempTitle=item.item_name" ng-required="true">
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                                <button type="button" class="btn btn-primary" ng-click="cancelEditing(this)">Cancel</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                     </ol>
                                  </li>
                                </ol>
                                <span ng-if="!list"><i class="fa fa-refresh"></i>Loading...</span>
                            </div>
                          </div>
                      </div>
                  </div>

                </div>
              </div>

        </div><!--/tab-content-->
    </div><!--/tabpanel-->
</div>