<div role="tabpanel" class="tab-pane col-xs-12 active" id="List_Tags">
     <div class="row">
        <div class="col-xs-12 search-box mb-sm-large">
            <form ng-submit="saveTemplate()" id="form" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form">
                <div class='row'>
                    <div class="col-md-2 col-lg-2">
                        <button type="button" class="btn btn-primary" ng-click="addNewTemplate()">Add New Template</button>
                    </div>
                    <div class="col-md-3 col-lg-2">
                        <select class="form-control" ng-model="label_template" ng-options="label_template.template_name for label_template in templates"
                                ng-change="paper_size=(label_template.page_width==216 && label_template.page_height==279?'letter':(label_template.page_width==210 && label_template.page_height==297?'a4':'custom'))">
                        </select>
                    </div>
                    <div class="col-md-1" ng-show="label_template.id>0">
                        <button type="button" class="btn btn-primary" ng-confirm-click="Are you sure to remove this template?" ng-click="deleteTemplate()">Delete Template</button>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-6 col-lg-5">
                        <h2 class="col-xs-12 search-title mb-20">Paper Format</h2>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Template Name :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="label_template.template_name" placeholder="Template Name" ng-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Paper Size :</label>
                            <div class="col-sm-4">
                                <select class='form-control' ng-model="paper_size" ng-change="calculateLabelHeightWidth()" >
                                    <option value="letter">Letter</option>
                                    <option value='a4'>A4</option>
                                    <option value='custom'>Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Page Width (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model='label_template.page_width' ng-init="label_template.page_width=0" ng-disabled="paper_size=='letter' || paper_size=='a4'" ng-change="calculateLabelHeightWidth()" numbers-only ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Page Height (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model='label_template.page_height' ng-init="label_template.page_height=0" ng-disabled="paper_size=='letter' || paper_size=='a4'" ng-change="calculateLabelHeightWidth()" numbers-only ng-required="true" />
                            </div>
                        </div>
                    </div><!--/.col-md-->
                     <div class="col-md-6 col-lg-5">
                        <h2 class="col-xs-12 search-title mb-20">Labels Parameters</h2>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">No of labels Horizontally :</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control"  ng-model='label_template.num_label_horizontal' ng-change="calculateLabelHeightWidth()" ng-required="true" min="1" max="10" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">No of labels Vertically :</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control"  ng-model='label_template.num_label_vertical' ng-change="calculateLabelHeightWidth()" ng-required="true" min="1" max="30" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Horizontal labels Spacing (mm) :</label>
                            <div class="col-sm-4">
                                 <input type="text" class="form-control"  ng-model='label_template.hor_label_spacing' ng-change="calculateLabelHeightWidth()" numbers-only />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Vertical labels Spacing (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.ver_label_spacing' ng-change="calculateLabelHeightWidth()" numbers-only />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Calculated label Width (mm) :</label>
                            <div class="col-sm-4">
                                 <input type="text" class="form-control"  ng-model='label_template.cal_label_width' ng-disabled="true" numbers-only />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Calculated label Height (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.cal_label_height' ng-disabled="true" numbers-only />
                            </div>
                        </div>
                    </div><!--/.col-md-->
                </div><!--/row-->
                <div class="row mt-20">
                    <div class="col-md-6 col-lg-5">
                        <h2 class="col-xs-12 search-title mb-20"> Paper Margin</h2>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Top Margin (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.top_margin' ng-change="calculateLabelHeightWidth()" numbers-only />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Bottom Margin (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.bottom_margin' ng-change="calculateLabelHeightWidth()" numbers-only />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Right Margin (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.right_margin' ng-change="calculateLabelHeightWidth()" numbers-only />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Left Margin (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.left_margin' ng-change="calculateLabelHeightWidth()" numbers-only />
                            </div>
                        </div>
                    </div><!--/.col-md-->
                     <div class="col-md-6 col-lg-5">
                        <h2 class="col-xs-12 search-title mb-20">Inputs</h2>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">QR code/Logo width (mm) :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model='label_template.logo_width' />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Font Size :</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-options="font for font in range(1, 30, 1)" ng-model='label_template.font_size' ng-required="true">
                                    <option value="">-- Select Font --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label text-right">Print Type :</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="label_template.print_type" ng-required="true">
                                    <option value="">-- Print Type --</option>
                                    <option value="qr">QR Code</option>
                                    <option value="bar">Bar Code</option>
                                    <option value="nfc">NFC Code</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="label_template.print_type=='nfc'">
                            <label class="col-sm-7 control-label text-right">Upload NFC Logo :</label>
                            <div class="col-sm-4 text-center" ng-init="(label_template.logo=label_template.logo?label_template.logo:'images/nfc.png')">
                                <div class="preview-box">
                                    <div class="fileUpload">
                                        <div ng-hide="label_template.logo" style="cursor: pointer;border: 1px solid #ccc;background-color: #fff;padding: 20px;" title="Click to upload">PREVIEW</div>
                                        <div ng-show="label_template.logo" class="center" style="border: 1px solid #ccc;height: 104px;width: 104px;background-color: #fff;">
                                            <button type="button" title="Click to remove image." ng-click="removePhoto()" style="position:absolute;right: -22px; top: -14px" class="btn btn-link">
                                                <i class="fa fa-times-circle-o fa-lg"></i>
                                            </button>
                                            <img ng-src="{{label_template.logo}}" />
                                        </div>
                                    </div>
                                    <small>Max: 1 MB</small>
                                </div><!--/.preview-box-->
                                <div class="btn btn-primary btn-block btn-lg fileUpload mt10">
                                    <span>Upload Photo</span>
                                    <input type="file" class="upload" onchange="angular.element(this).scope().onFileSelect(this.files)" ng-model="label_template.logo" ng-required="label_template.print_type=='nfc' && !label_template.logo">
                                </div>
                            </div>
                        </div>
                    </div><!--/.col-md-->
                </div><!--/row-->
                
                <div class="alert alert-info">
                    <strong>Note: </strong> Please uncheck the below fields you don't want in printout on labels.
                </div>
                
                <div class="row-fluid">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label class="control-label">
                                Company Name:
                                <input type="checkbox" ng-model="label_template.checked_labels.company_name" ng-init="label_template.checked_labels.company_name=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Project Name:
                                <input type="checkbox" ng-model="label_template.checked_labels.project_name" ng-init="label_template.checked_labels.project_name=true">      
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Item:
                                <input type="checkbox" ng-model="label_template.checked_labels.tag_item" ng-init="label_template.checked_labels.tag_item=true">
                        </div>

                    </div><!-- span4 end --> 

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">

                        <div class="form-group">
                            <label class="control-label">
                                Client Name:
                                <input type="checkbox" ng-model="label_template.checked_labels.client_name" ng-init="label_template.checked_labels.client_name=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Project Address:
                                <input type="checkbox"  ng-model="label_template.checked_labels.project_address" ng-init="label_template.checked_labels.project_address=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Process:
                                <input type="checkbox" ng-model="label_template.checked_labels.process" ng-init="label_template.checked_labels.process=true">
                            </label>
                        </div>

                    </div><!-- span4 end -->

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">

                        <div class="form-group">
                            <label class="control-label">
                                Client Location:
                                <input type="checkbox" ng-model="label_template.checked_labels.client_location" ng-init="label_template.checked_labels.client_location=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Area:
                                <input type="checkbox" ng-model="label_template.checked_labels.project_location" ng-init="label_template.checked_labels.project_location=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Unique Code:
                                <input type="checkbox" ng-model="label_template.checked_labels.uid" ng-init="label_template.checked_labels.uid=true">
                            </label>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">

                        <div class="form-group">
                            <label class="control-label">
                                Main Contractor:
                                <input type="checkbox" ng-model="label_template.checked_labels.main_contractor" ng-init="label_template.checked_labels.main_contractor=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Project level:
                                <input type="checkbox" ng-model="label_template.checked_labels.project_level" ng-init="label_template.checked_labels.project_level=true">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Tag Description:
                                <input type="checkbox" ng-model="label_template.checked_labels.tag_description" ng-init="label_template.checked_labels.tag_description=true">
                            </label>
                        </div>

                    </div>
                </div>
                
                <div class="row mt-20">
                   <div class="col-sm-10 text-center">
                       <button class="btn btn-primary mb-sm-5 mr-10" ng-click="previewTemplate()" type="button">Preview</button>
                       <button class="btn btn-primary mb-sm-5" type="submit">Save</button>
                       <button class="btn btn-primary mb-sm-5" type='reset'>Reset</button>
                   </div> 
                </div>
            </form>
        </div><!--/search-tag-box-->
    </div><!--/row-->
</div>
<style>
    input[type=number] {-moz-appearance: textfield;}
    ::-webkit-inner-spin-button { -webkit-appearance: none;}
    ::-webkit-outer-spin-button { -webkit-appearance: none;}
</style>