                          <div class="col-xs-12 secondary-bg">
                                <div class="col-xs-12 shadow-box">
                                    <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Name :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Client Project Manager :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Location :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Director :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">About Project :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                                                                        
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Consultant :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label"></label>
                                                    <div class="col-sm-8 col-md-7">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Main Contractor :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        
                                        <div class="row">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label"></label>
                                                    <div class="col-sm-8 col-md-7">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Management :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div><!--/row-->
                                        
                                        <div class="row mt-40">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Project Logo 
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 pr-lg-0">
                                                                <button class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                                                    <span>Choose File</span>
                                                                    <input type="file" class="upload" />
                                                                </button>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="preview-box">
                                                                    <div class="center">
                                                                        <div class="center-box">Preview</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                   <div class="row">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Project Image 
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 pr-lg-0">
                                                                <button class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                                                    <span>Choose File</span>
                                                                    <input type="file" class="upload" />
                                                                </button>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="preview-box">
                                                                    <div class="center">
                                                                        <div class="center-box">Preview</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="row mt-xs-medium">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Project Address/Location 
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <textarea class="form-control" rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <select class="form-control ui-select-match">
                            <option value="">-- Select Country --</option>
                            <option value="1">USA</option>
                            <option value="0">INDIA</option>
                            <option value="2">JAPAN</option>
                        </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="row mt-xs-medium">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Client Office Address 
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <textarea class="form-control" rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                               <select class="form-control ui-select-match">
                            <option value="">-- Select Country --</option>
                            <option value="1">USA</option>
                            <option value="0">INDIA</option>
                            <option value="2">JAPAN</option>
                        </select>                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row mt-45 mb-30">
                                            <div class="col-sm-12 text-center">
                                                <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium">Save</button>
                                                <button class="btn btn-danger btn-lg btn-plr-medium">Cancel</button>
                                            </div>
                                        </div>
                                    </form> 
                                </div><!--/shadow-box-->
                            </div><!--/secondary-bg-->
                      