@charset "utf-8";
/* CSS Document */
html {
    font-size:10px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
@font-face {
    font-family: 'Candara';
    src: url('fonts/Candara.eot');
    src: url('fonts/Candara.eot') format('embedded-opentype'),
    url('fonts/Candara.woff') format('woff'),
    url('fonts/Candara.ttf') format('truetype'),
    url('fonts/Candara.svg#Candara') format('svg');
}
@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri.eot');
    src: url('fonts/Calibri.eot') format('embedded-opentype'),
    url('fonts/Calibri.woff') format('woff'),
    url('fonts/Calibri.ttf') format('truetype'),
    url('fonts/Calibri.svg#Calibri') format('svg');
}
body {
    font-family: 'Candara', sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    line-height:1.42857143;
    color:#666;
    background-color: #faf9f9;
    font-weight: 500;
}

::-webkit-input-placeholder {
    color: #d3d1d1;
}

:-moz-placeholder { 
    color: #d3d1d1;  
}

::-moz-placeholder { 
    color: #d3d1d1;  
}

:-ms-input-placeholder {  
    color: #d3d1d1;  
}
a {
    color: #187cbd
}
img {
    max-width: 100%
}
h1, h2, h3, h4, h5, h6 {
    color: #636564;
    margin: 15px 0px 20px 0px;
}
h4 {
    color: #5c5c5c;
    font-size: 19px;
    font-size: 1.9rem;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
    color: #000101
}
.mt-0 {
    margin-top: 0px !important
}
.mt-5 {
    margin-top: 5px !important
}
.mt-10 {
    margin-top: 10px !important
}
.mt-15 {
    margin-top: 15px !important
}
.mt-20 {
    margin-top: 20px !important
}
.mt-25 {
    margin-top: 25px !important
}
.mt-30 {
    margin-top: 30px !important
}
.mt-35 {
    margin-top: 35px !important
}
.mt-40 {
    margin-top: 40px !important
}
.mt-45 {
    margin-top: 45px !important
}
.mt-50 {
    margin-top: 50px !important
}
.mb-0 {
    margin-bottom: 0px !important
}
.mb-5 {
    margin-bottom: 5px !important
}
.mb-10 {
    margin-bottom: 10px !important
}
.mb-15 {
    margin-bottom: 15px !important
}
.mb-20 {
    margin-bottom: 20px !important
}
.mb-25 {
    margin-bottom: 25px !important
}
.mb-30 {
    margin-bottom: 30px !important
}
.mb-35 {
    margin-bottom: 35px !important
}
.mb-40 {
    margin-bottom: 40px !important
}
.mb-0 {
    margin-bottom: 0px !important
}
.mr-10 {
    margin-right: 10px
}
.pl-5 {
    padding-left: 5px
}
.pl-10 {
    padding-left: 10px
}
.pl-15 {
    padding-left: 15px
}
.pl-20 {
    padding-left: 20px
}
.pb-0 {
    padding-bottom: 0px !important
}
.pb-5 {
    padding-bottom: 5px !important
}
.pb-10 {
    padding-bottom: 10px !important
}
.pb-15 {
    padding-bottom: 15px !important
}
.pb-20 {
    padding-bottom: 20px !important
}
.mandatory {
    font-size: 2.8rem;
    color: red;
    position: relative;
    top: 9px;
    line-height: 12px
}
.btn-primary {
    color: #fff !important;
    background-color: #58abe1;
    border-color: #58abe1;
}
.btn-primary:hover {
     background-color: #1999ed;
    border-color: #1999ed;
}

/*------header-----*/
.welcome-wrapper {
    margin-top: 28px;
    font-size: 20px
}
.welcome-wrapper ul {
    padding-left:  0px
}
.last-login {
    font-size: 13px;
    font-size: 1.3rem;
    position: relative;
    top: -18px;
    padding-left: 13px
}
.date-time {
    padding-left: 10px
}
.weclome-list:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.weclome-list:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.weclome-list li {
    padding: 2px 10px;
    background-color: #fcfbfb;
    border-bottom: 1px solid #eee;
}
.weclome-list li:last-child {
     border-bottom: none;
}
.welcome-text:hover, .welcome-text {
    text-decoration: none !important;
}
.welcome-wrapper .btn-primary {
    font-size: 1.8rem
}
.welcome-wrapper ul {
    list-style: none;
}
.welcome-wrapper ul li {
    display: inline;
    margin-left: 10px
}
.welcome-wrapper ul li.dropdown li {
    display: block;
    margin-left: 0px
}
.welcome-wrapper a {
    color: #616161
}
.navbar-default {
    background-color: #ffffff;
}
.navbar {
    margin-bottom: 17px
}
.navbar-default .dropdown-menu {
   /* border: 1px solid #e9e9e9;*/
}
.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;
    margin-top: 10px
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f9f9f9
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3785b8
}
.nav-container {
    background-color: rgb(247, 247, 247);
    box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.26);
}
.navbar-default .navbar-nav>li>a {
    color: #58585a;
    font-family: "Calibri";
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color: transparent;
color: #59caf2;
}
.navbar-right .search-control, .navbar-right .input-group-btn:last-child>.btn {
    border-radius: 0px !important
}
.search-control {
   /* border: 1px solid #ececec !important;
    box-shadow: none !important;*/
}
.nav-container .navbar-nav>li>.dropdown-menu, .nav-container .dropdown-menu {
    border-top: 1px solid #58abe1 ;
    border-bottom: 1px solid #58abe1;
    border-radius: 0px !important
}
.navbar-nav>li>.dropdown-menu li a:hover {
    color: #58abe1
}

/*multi label dropdown*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
     min-width: 216px
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #5e5e5e;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #5e5e5e;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.search-btn {
    padding-left: 20px;
    padding-right: 20px
}
.navbar-right {
    margin-top: 12px !important;
}
/*------/header-----*/
.primary-bg-wrapper {
    background-color: #fff;
    padding: 10px 6px;
   /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);*/
    float: left;
    width: 100%;
    box-shadow: 1.5px 2.598px 4px 0px rgba(0, 0, 0, 0.17);
}
.primary-title {
    background-color: #58abe1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 14px;
    padding: 17px 15px;
    border: 1px solid #3785b8;
    margin-bottom: 10px
}
.primary-title-box {
    float: left;
    position: relative;
    width: 20%;
    padding: 0px 3px;
}
.box {
    background-color: #f6f6f6;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 0.845px 1.813px 2px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0.845px 1.813px 2px 0px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0.845px 1.813px 2px 0px rgba(0, 0, 0, 0.13);
    -o-box-shadow: 0.845px 1.813px 2px 0px rgba(0, 0, 0, 0.13);
    -ms-box-shadow: 0.845px 1.813px 2px 0px rgba(0, 0, 0, 0.13);
}
.box h5 {
    margin-bottom: 15px
}
.box ul {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    height: 167px;
    overflow-y: hidden;
}
.box ul li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 12px
}
.project-title {
    background-color: #636363;
    color: #fff;
    padding: 13px 15px;
    margin-left: -1px;
    margin-right: -1px
}
.show-more {
    background-color: #e2e3e3;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(246,246,246) 52%, rgb(215,215,215) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(246,246,246) 52%, rgb(215,215,215) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(246,246,246) 52%, rgb(215,215,215) 100%);
    width: 100%;
    border-radius: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
}
.show-more .caret {
    display: inline-block;
    margin-left: 0px;
    border-top: 12px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #b0b0b0
}
.sidebar-box {
    margin-bottom: 4px
}
.sidebar-box ul {
    height: auto;
    overflow: initial
}
.sidebar-box h6 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}
.sidebar-box ul {
    padding-left: 30px;
    padding-bottom: 5px;
    float: left;
    width: 100%
}
.sidebar-box ul li {
    margin-bottom: 8px
}
/*----breadcrumbs-----------------*/
.breadcrumb {
    list-style: none;
    background-color: #fff;
    padding: 0px 0px;
    border-radius: 0px;
    font-size: 19px;
    font-size: 1.9rem
}
.breadcrumb a {
    color: #5c5c5c
}
.breadcrumb>li+li:before {
    content: ">";
    padding: 0 5px;
    color: #5c5c5c;
}
.breadcrumb li.active {
    color: #58abe1
}
/*----/breadcrumbs----------------*/
/*---------tab--------*/
.nav-tabs>li a {
    color: #555555;
    font-size: 15px;
    font-size: 1.5rem
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
}
.tab-content {
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 20px
}
.search-box, .shadow-box {
    background-color: rgb(246, 246, 246);
    box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.11);
    float: left;
    width: 100%;
    border: 1px solid #dddddd;  
}
.search-title {
    font-size: 29px;
    font-size: 2.2rem;
    color: #555555;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 0px
}
.form-wrapper {
    padding-bottom: 18px;
    margin-top: 15px
}
.search-box .search-title .fa-sort-desc {
    position: relative;
    top: -5px
}
.search-box .search-title .fa-sort-asc{
    position: relative;
    top: 5px
}
.icon-btn {
    background-color: transparent;
    padding: 0px 3px;
    position: relative;
    color: #555555
}
.form-horizontal-typ1 .form-group {
    margin-bottom: 6px
}
.form-control {
    border-color: #e9e9e9;
}
.form-horizontal-typ1 .form-control {
    box-shadow: none;
    height: 36px;
    border-radius: 0px;
    font-size: 17px;
    font-size: 1.7rem;
    padding-left: 14px;
    padding-right: 14px
}
.form-control-small {
    width: 135px;
    margin: 0 auto;
}
.form-horizontal-typ1 .form-control:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
}
.form-horizontal-typ1 .control-label {
    font-weight: normal;
    font-size: 18px;
    font-size: 1.8rem;
    color: #555555;
    padding-top: 5px
}
.form-horizontal-typ1 .control-label.text-center {
    text-align: center;
}
.btn-default {
    padding: 6px 37px;
    background-color: #cccccc;
    color: #000;
    font-size: 19px;
    border-color: #bababa;
}

.input-group .dropdown-menu .btn-default {
    padding: 5px 18px;
    font-size: 12px;
}

.input-group .dropdown-menu table .btn-default {
    font-size: 0.8em;
    padding: 0.5em 1em;
}

.add-new-btn {
    padding-left: 10px
}
.add-new-btn i {
    font-size: 2.5rem;
    top: 2px;
    position: relative;
    margin-right: 25px;
    color: #181818
}
/*----------/tab------*/
.table-responsive-cust {
    font-size: 17px;
    font-size: 1.7rem
}
.table-responsive-cust a {
    text-decoration: underline;
    color: #1f74c3
}
.table-responsive-cust .table th {
    background-color: #555555;
    color: #fff;
    font-weight: normal; 
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    vertical-align: middle;
}
.spacer {
    margin-right: 20px
}
.secondary-bg {
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
    padding-bottom: 20px;
    padding-top: 20px
}
.btn-lg {
    padding-top: 17px;
    font-size: 1.7rem;
    padding-top: 8px;
    padding-bottom: 8px
}
.wrapper {
    float: left;
    width: 100%;
}
.table-responsive-cust input[type="radio"], input[type="checkbox"] {
    margin-top: 5px
}
.table-striped>tbody>tr:nth-child(even) {
background-color: #fdfdfd;
}
table .form-control {
    border-radius: 0px
}
.tag-btn-wrapper {
}
.tag-btn-wrapper .btn-default {
    padding: 6px 12px;
    font-size: 14px
}
.links {
    color: #212020 !important;
}
.plr-large {
    padding-left: 60px;
    padding-right: 60px
}
.h2 {
    display: inline;
    font-size: 18px;
    color: #5c5c5c
}
.dropdown-container .form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%
}
.multi-level {
    background-color: transparent;
    border: none;
    color: #1f74c3;
    font-size: 1.6rem
}
.multi-level .level-item {
    font-size: 1.6rem;
    display: inline;
    padding: 0px 5px;
}
.multi-level > .level-item {
    background: url(../images/arrow.png) no-repeat;
    padding-right: 15px;
    background-position: right
}
.multi-level > .level-item:first-child {padding-left: 0;}
.multi-level > .level-item.last-child {
    background: none
}
.ui-select-box-wrapper a {
    padding: 10px 16px;
}
.arrow {
    background: url(../images/arrow.png) 2px 5px no-repeat;
    width: 15px;
    height: 20px;
    margin-top: 3px;
    padding-left: 20px;
}
label {
    font-weight: normal;
}
.bar-code {
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 15px
}
.bar-code-text {
    font-size: 14px;
    margin-top: 3px
}
.activity-btn {
    font-weight: bold;
}
.activity-btn i {
    position: relative;
    top: 1px
}
.btn-lg i {
    position: relative;
    top: 2px
}
textarea.form-control {
    height: auto !important;
}
.preview-box {
    border-radius: 3px;
    margin: 0 auto;
    max-height: 100px;
    max-width: 100px;
    position: relative;
 
}
.center {
    text-align: center;
    height: 100%
}
.center:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.center-box {
    display: inline-block;
    vertical-align: middle;
}
.fileUpload {
    position: relative;
/*    overflow: hidden;*/
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
}
.btn-plr-medium {
 padding-left: 40px !important;
 padding-right: 40px !important
}
/*------------footer-----------*/
.footer-wrapper {
    margin-top: 50px;
    background-color: #464646;
    padding: 25px 0px;
    font-size: 19px;
    font-size: 1.9rem
}
.footer-wrapper ul {
    margin: 0;
    padding: 0;
}
.footer-wrapper li {
    display: inline;
}
.footer-wrapper li a, .footer-wrapper li {
    color: #fff;
}
.footer-wrapper li a:hover, .footer-wrapper li a.active {
    color: #68c63f;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.copyright {
    color: #58abe1;
margin-top: -5px
}
.copyright span {
    font-size: 30px;
    position: relative;
    top: 3px
}
.multi-level {min-height: 30px;}
form .multi-level{margin-top: 7px;padding-bottom: 7px;}
.table th a {
    text-decoration: none;
    color: #fff
}
.required-controls {
    position: relative;
    padding-left: 10px
}
.required-controls div.required {
    position: absolute;
    top: 10px;
    left: 0px;
}
.sT {color: #68c63f;}
.mT {color: #66afe9;}
.modal-lg {
    width: 1166px;
}

.angular-ui-tree ol {
    list-style: none;
}

.angular-ui-tree-empty {
    min-height: 50px;
    background-image: none;
}
.angular-ui-tree-empty:before {
    content: "No data available.";
    font-size: 20px;
    margin-left: 20px;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 40px;
}
.btn {
    margin-right: 8px;
}
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}
.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.angular-ui-tree-node,.angular-ui-tree-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
}

.angular-ui-tree-hidden {
  display: none;
}

.angular-ui-tree-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
}

.angular-ui-tree-handle {
  cursor: move;
  text-decoration: none;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
}

.angular-ui-tree-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: .8;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}
.user_type, .user_type:hover {
    background-color: #EDEDED;
    cursor: inherit;
}
.user_group, .user_group:hover {
    background-color: #555;
    color: #fff;
    cursor: inherit;
}
.user_level, .user_level:hover {
    background-color: #a3a3a3;
    color: #000;
    border: 1px solid #ccc;
}
.click-to-edit {
    cursor: default;
}

.item_1, .item_1:hover {
    background-color: #EDEDED;
    cursor: inherit;
}
.item_0, .item_0:hover {
    background-color: #555;
    color: #fff;
    cursor: inherit;
}
.item_2 {
    padding: 20px;
    border: 1px solid #ccc;
}
.level-0 {
    background-color: #687074 !important;
    color: #FFF !important;
}
.angular-ui-tree .level-1 {background: #9FA2A3;color: #fff;}
.angular-ui-tree .level-2 {background: #C2C3C4;color: #666;}
.angular-ui-tree .level-3 {background: #D0D5D8;color: #666;}
.angular-ui-tree .level-4 {background: #EFF1F2;}
.click-to-edit .setFlagBox button {
    display:none;
}
.click-to-edit:hover .setFlagBox button{
    display: inline;
}
.click-to-edit .setFlagBox button.showFlag {
    display:inline;
}

.angular-ui-tree .level-1 {background: #9FA2A3;color: #fff;}
.angular-ui-tree .level-2 {background: #C2C3C4;color: #666;}
.angular-ui-tree .level-3 {background: #D0D5D8;color: #666;}

.process_flow, .process_flow:hover {
    background-color: #EDEDED;
    cursor: inherit;
}
.process_type, .process_type:hover {
    background-color: #555;
    color: #fff;
    cursor: inherit;
}
.process_stage-options {
    padding: 20px;
    border: 1px solid #ccc;
}
.nodrag {
    cursor: default;
}

.preview-box .center img{
    margin: 0 auto;
    display: table;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.clickable {
    cursor: pointer;
}

.angular-ui-tree-node.has-error, .angular-ui-tree-node.has-error .angular-ui-tree-handle{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    margin-top: 5px;
}

/*------------/footer----------*/
@media (min-width: 1200px) {
    .projectbox:nth-child(3n+1) {
        clear:both;
    }
    .pl-lg-25 {
        padding-left: 25px;
    }
    .pr-lg-25 {
        padding-right: 25px;
    }
    .pr-lg-45 {
        padding-right: 45px
    }
    .pr-lg-0 {
        padding-right: 0px
    }
    .navbar-right {
        width: 400px !important;
    }
    .navbar-right li {
        width: 100%
    }
    .table-responsive-cust .table>thead>tr>th, .table-responsive-cust .table>tbody>tr>th, .table-responsive-cust .table>tfoot>tr>th, .table-responsive-cust .table>thead>tr>td, .table-responsive-cust .table>tbody>tr>td, .table-responsive-cust .table>tfoot>tr>td {
       /* padding: 12px;*/
       vertical-align: middle;
    }
    .bar-code-container {
        width: 14%
    }
    .bar-code-container2 {
        width: 13%
    }
    .left-area {
        width: 86%
    }
    .left-area2 {
        width: 70%
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .primary-title-box {
     width: 33.33333333%;
    }
}
@media (min-width: 768px) {
    .table-responsive-cust {
        max-width: 100%;
        overflow:auto;
    }
    .weclome-list {
        min-width: 300px
    }
    .navbar-default .caret {
        margin-left: 2px;
        border-top: 6px solid;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
        font-size: 1.6rem
    }
    .dropdown-menu {
        /*border-color: #cdcdcd;*/
    }
    .nav-container .dropdown-menu>li>a {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 1.7rem
    }
    .navbar-right {
        margin-top: 12px;
        margin-right: -15px;
        width: 412px
    }
    .container-fluid {
        padding-left: 23px;
        padding-right: 23px
    }
    .cust-row {
        margin-left: -3px;
        margin-right: -3px 
    }
    .cust-col {
        padding-left: 3px;
        padding-right: 3px
    }
     .navbar-brand img {
        max-width: 180px
    }
    .navbar-brand {
        height: auto;
        padding: 28px 15px 10px
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 20px 25px;
        padding-left: 0px 
    }
    .navbar-right {
        width: 230px;
    }
    .nav-tabs li a {
        padding: 10px 30px
    }
    .normal-gutter {
        padding-left: 15px;
        padding-right: 15px

    }
}
ul.showfull {
    overflow: auto;
    height: 192px;
}

@media only screen and (min-width:992px) {
    .pr-md-large {
        padding-right: 80px;
    }
}
@media (max-width: 767px) {
    html {
        font-size: 58%
    }
    body {
        border-top: none;
        margin-top: 0px
    }
    .mb-sm-5 {
        margin-bottom: 5px
    }
    .mb-sm-10 {
        margin-bottom: 10px
    }
    .mb-xs-20 {
        margin-bottom: 20px
    }
    .mb-sm-large, .mb-xs-large {
        margin-bottom: 50px
    }
    .mt-xs-large {
        margin-top: 50px !important
    }
    .mt-xs-medium {
        margin-top: 30px !important
    }
    .column-gs-sm {
        padding-left: 15px !important;
        padding-right: 15px !important
    }
    .welcome-wrapper {
        margin-top: 5px;
        font-size: 1.8rem
    }
    .welcome-wrapper .btn-primary {
        padding: 4px 5px;
        font-size: 15px;
        position: relative;
        top: 5px;
    }
    .welcome-wrapper ul {
        margin-bottom: 0px
    }
    .last-login {
        top: -10px
    }
    .navbar-header {
        clear: both;
    }
    .navbar-brand img {
        max-width: 120px
    }
    .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff !important;
        background-color: #555557 !important
    }
    .navbar-nav .open .dropdown-menu {
        padding-top: 0px;
        padding-bottom: 0px
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>li>a:hover {
        background-color: #3785b8;
        color: #fff;
    }
    .primary-title-box {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px
    }
    .nav-container {
        background-color: transparent;
        box-shadow: none;
    }
    .primary-bg-wrapper {
        box-shadow: none;
        padding-left: 0px;
        padding-right: 0px
    }
    .inline-block-sm {
        display: inline-block !important;
    }
    .footer-wrapper {
        font-size: 1.7rem
    }
    .copyright span {
        font-size: 2.2rem;
        position: relative;
        top: 1px;
    }
    .print-elm-left-xs {
        float:left;
    }
    .print-elm-right-xs {
        float:right;
    }
    .print-elm-right-xs .form-group {
        float:left;
        margin-right: 5px;
    }
    .print-elm-right-xs label, .print-elm-right-xs button {
        margin-top: 5px;
    }
    .print-elm-right-xs .form-group:last-child {
        float:right;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
   
}

@media only screen and (max-width: 40em) { /*640*/
    #rt1 { display: block; position: relative; width: 100%; }
    #rt1 thead { display: block; float: left; }
    #rt1 tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    #rt1 thead tr { display: block; }
    #rt1 th { display: block; }
    #rt1 tbody tr { display: inline-block; vertical-align: top; }
    #rt1 td, #rt1 th { display: block; min-height: 40px;}

    #rt2 { display: block; position: relative; width: 100%; }
    #rt2 thead { display: block; float: left; height: 100%;}
    #rt2 tbody { display: -webkit-box; overflow-x: auto; }
    #rt2 th,
    #rt2 tr,
    #rt2 td { display: block; }

    /* sort out borders */

    .rt th { border-bottom: 0; }
    .rt td { border-left: 0; border-right: 0; border-bottom: 0; }
    .rt tbody tr { border-right: 1px solid #babcbf; }
    .rt th:last-child,
    .rt td:last-child { border-bottom: 1px solid #babcbf; }

}

@media (max-width: 1199px) {
    .projectbox:nth-child(2n+1) {
        clear:both;
    }
}

/*! =======================================================
                      VERSION  4.5.0              
========================================================= */
/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers:
 *    Kyle Kemp
 *      - Twitter: @seiyria
 *      - Github:  seiyria
 *    Rohit Kalkur
 *      - Twitter: @Rovolutionary
 *      - Github:  rovolution
 *
 * =========================================================
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================= */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}
.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  margin-top: 24px;
  display: inline-block;
  text-align: center;
}
.slider.slider-vertical {
  height: 210px;
  width: 20px;
}
.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  margin-left: -5px;
  left: 50%;
  top: 0;
}
.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider.slider-vertical .slider-track-low,
.slider.slider-vertical .slider-track-high {
  width: 100%;
  left: 0;
  right: 0;
}
.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px;
}
.slider.slider-vertical .slider-tick.triangle,
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  margin-left: 0;
}
.slider.slider-disabled .slider-handle {
  background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}
.slider.slider-disabled .slider-track {
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
  cursor: not-allowed;
}
.slider input {
  display: none;
}
.slider .tooltip.top {
  margin-top: -36px;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider .hide {
  display: none;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-selection.tick-slider-selection {
  background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
}
.slider-track-low,
.slider-track-high {
  position: absolute;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #337ab7;
  background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
  background-image: -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
  background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  filter: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border: 0px solid transparent;
}
.slider-handle.round {
  border-radius: 50%;
}
.slider-handle.triangle {
  background: transparent none;
}
.slider-handle.custom {
  background: transparent none;
}
.slider-handle.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
.slider-tick {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: none;
  opacity: 0.8;
  border: 0px solid transparent;
}
.slider-tick.round {
  border-radius: 50%;
}
.slider-tick.triangle {
  background: transparent none;
}
.slider-tick.custom {
  background: transparent none;
}
.slider-tick.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
.slider-tick.in-selection {
  background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
  opacity: 1;
}