<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Site Track</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-submenu.js"></script>
        <script type="text/javascript" src="js/html5shiv.js"></script>
        <script type="text/javascript" src="js/respond.js"></script>
        <script type="text/javascript" src="js/site.js"></script>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="pull-right welcome-wrapper">
                    <ul>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle welcome-text" data-toggle="dropdown" role="button" aria-expanded="false">Welcome : <span class="username">akbarraja</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu weclome-list dropdown-menu-right" role="menu">
                                <li>Last Login IP : <span class="ip-address pl-5">111.111.222.11</span></li>
                                <li>Last login location : <span class="location pl-5">Dubai (UAE)</span></li>
                            </ul>
                         </li>
                        <li><a class="btn btn-primary btn-small" href="#">Logout <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                    <div class="last-login">Last login : <span class="date-time text-muted">14 Oct 2014 10:am</span></div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="nav-container">
                <div class="container-fluid">
                    <nav class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View / Edit / Print <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="col-xs-12 pull-right">
                                    <form class="" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control search-control" placeholder="Search..." name="q" style="padding:6px 6px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary search-btn" type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav><!--/.nav-collapse -->
                </div>
            </div><!--/nav-container-->
        </header><!--/navbar-default-->
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content primary-bg-wrapper column-gs-sm normal-gutter pb-20">
                        <div class="row mb-xs-20">
                            <div class="col-sm-6">
                                <ol class="breadcrumb mb-15">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Manage</a></li>
                                    <li class="active">Tags</li>
                                </ol>
                            </div>
                            <div class="col-sm-6 text-right">
                                <h4 class="mt-5 mb-0">Create new project</h4>
                            </div>              
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-xs-12 secondary-bg">
                                <div class="col-xs-12 shadow-box">
                                    <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Name :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Client Name :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Location :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Director :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Project Management :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Main Contractor :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">About Project :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-5 control-label">Consultant :</label>
                                                    <div class="col-sm-8 col-md-7">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row mt-40">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Project Logo 
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 pr-lg-0">
                                                                <button class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                                                    <span>Choose File</span>
                                                                    <input type="file" class="upload" />
                                                                </button>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="preview-box">
                                                                    <div class="center">
                                                                        <div class="center-box">Preview</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="row mt-xs-medium">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Address 
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <textarea class="form-control" rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Country">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="row mt-xs-medium">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <div class="form-group">
                                                            <label class="col-xs-12 control-label text-center mb-20">Head Office Address 
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <textarea class="form-control" rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Country">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/row-->
                                        <div class="row mt-45 mb-30">
                                            <div class="col-sm-12 text-center">
                                                <button class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium">Save</button>
                                                <button class="btn btn-danger btn-lg btn-plr-medium">Cancel</button>
                                            </div>
                                        </div>
                                    </form> 
                                </div><!--/shadow-box-->
                            </div><!--/secondary-bg-->
                        </div><!--/row-->
                    </div><!--/content-->
                </div>
            </div><!--/row-->
        </section>
        <!--/container-fluid-->
        <footer class="footer-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <ul> 
                            <li><a href="#">Terms and Conditions of Use </a><span>|</span></li>
                            <li><a href="#">Privacy Policy </a><span>|</span></li>
                            <li><a href="#">Customer Support </a><span>|</span></li>
                            <li><a class="active" href="#">Andriod App </a></li>
                        </ul>
                    </div>
                </div><!--/row-->
                <div class="row">
                    <div class="col-xs-12 text-center copyright">
                        <span>&copy;</span> Site Track -nfc.com 2013 , All Rights Reserved
                    </div>
                </div><!--/row-->
            </div>
        </footer><!--/footer-wrapper-->
    </body>
</html>