<style>
    .control-label{
        font-size: 1.6rem !important;
    }
</style>
<div class="col-xs-12 secondary-bg">
    <div class="col-xs-12 shadow-box">
        <form id="form" class="form-wrapper form-horizontal form-horizontal-typ1 pr-md-large" role="form" ng-submit="saveProject()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_name}">
                        <label class="col-sm-4 col-md-5 control-label">Project Name :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.project_name" ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.project_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.client_project_manager}">
                        <label class="col-sm-4 col-md-5 control-label">Client Name :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.client_name" />
                            <div class="help-block help-block-error">{{serverError.client_name}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_location}">
                        <label class="col-sm-4 col-md-5 control-label">Area :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.project_location" ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.project_location}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_director}">
                        <label class="col-sm-4 col-md-5 control-label" >Client-Project Manager :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.client_project_manager" />
                            <div class="help-block help-block-error">{{serverError.client_project_manager}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_manager}">
                        <label class="col-sm-4 col-md-5 control-label">Project Management- Project Manager :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.project_manager" />
                            <div class="help-block help-block-error">{{serverError.project_manager}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_location}">
                        <label class="col-sm-4 col-md-5 control-label" >Consultant :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.consultant" ng-required="true" />
                            <div class="help-block help-block-error">{{serverError.consultant}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_director}">
                        <label class="col-sm-4 col-md-5 control-label" >Project Director :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.project_director" />
                            <div class="help-block help-block-error">{{serverError.project_director}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_director}">
                        <label class="col-sm-4 col-md-5 control-label" >Consultant-Project Manager :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.consultant_project_manager" />
                            <div class="help-block help-block-error">{{serverError.consultant_project_manager}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.about}">
                        <label class="col-sm-4 col-md-5 control-label" >About Project :</label>
                        <div class="col-sm-8 col-md-7">
                            <textarea ng-model="project.about" class="form-control" rows="3" ng-required="true"></textarea>
                            <div class="help-block help-block-error">{{serverError.about}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': serverError.project_director}">
                        <label class="col-sm-4 col-md-5 control-label" >Contractor-Project Manager :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.contractor_project_manager" />
                            <div class="help-block help-block-error">{{serverError.contractor_project_manager}}</div>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': serverError.project_director}">
                        <label class="col-sm-4 col-md-5 control-label">Main Contractor :</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control" ng-model="project.main_contractor" />
                            <div class="help-block help-block-error">{{serverError.main_contractor}}</div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row mt-40">
                <div class="col-md-4 col-sm-6">
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10">
                            <div class="form-group">
                                <label class="col-xs-12 control-label text-center mb-20">Project Logo 
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-md-12 col-lg-12">
                                    <div class="col-sm-6 pr-lg-0">
                                        <div class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                            <span>Upload</span>
                                            <input type="file" class="upload" onchange="angular.element(this).scope().onFileSelect(this.files, 'project_logo')" ng-model="project.project_logo">
                                        </div>
                                        <small>Max: 1 MB <br/>Allow: jpg,png,gif</small>
                                    </div>
                                    <div class="col-sm-6" ng-class="{ 'has-error': serverError.project_logo}">
                                        <div class="preview-box ">
                                            <div class="fileUpload">
                                                <div ng-hide="project.project_logo" style="cursor: pointer;border: 1px solid #ccc;background-color: #fff;padding: 20px;" title="Click to upload">PREVIEW</div>
                                                <div ng-show="project.project_logo" class="center" style="border: 1px solid #ccc;height: 104px;width: 104px;background-color: #fff;">
                                                    <button type="button" title="Click to remove image." ng-click="project.project_logo=null" style="position:absolute;right: -22px; top: -14px" class="btn btn-link">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </button>
                                                    <img ng-src="{{project.project_logo}}" />
                                                </div>
                                            </div>
                                        </div><!--/.preview-box-->
                                        <div class="help-block help-block-error">{{serverError.project_logo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10">
                            <div class="form-group">
                                <label class="col-xs-12 control-label text-center mt-10">
                                    Project Image 
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-md-12 col-lg-12">
                                    <div class="col-sm-6 pr-lg-0">
                                        <div class="btn btn-primary btn-block btn-lg fileUpload mb-xs-20">
                                            <span>Upload</span>
                                            <input type="file" class="upload" onchange="angular.element(this).scope().onFileSelect(this.files, 'project_image')" ng-model="project.project_image">
                                        </div>
                                        <small>Max: 1 MB <br/>Allow: jpg,png,gif</small>
                                    </div>
                                    <div class="col-sm-6" ng-class="{ 'has-error': serverError.project_image}">
                                        <div class="preview-box ">
                                            <div class="fileUpload">
                                                <div ng-hide="project.project_image" style="cursor: pointer;border: 1px solid #ccc;background-color: #fff;padding: 20px;" title="Click to upload">PREVIEW</div>
                                                <div ng-show="project.project_image" class="center" style="border: 1px solid #ccc;height: 104px;width: 104px;background-color: #fff;">
                                                    <button type="button" title="Click to remove image." ng-click="project.project_image=null" style="position:absolute;right: -22px; top: -14px" class="btn btn-link">
                                                        <i class="fa fa-times-circle-o fa-lg"></i>
                                                    </button>
                                                    <img ng-src="{{project.project_image}}" />
                                                </div>
                                            </div>
                                        </div><!--/.preview-box-->
                                        <div class="help-block help-block-error">{{serverError.project_image}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="row mt-xs-medium">
                        <div class="col-lg-offset-1 col-lg-10">
                            <div class="form-group">
                                <label class="col-xs-12 control-label text-center mb-20">Project Address/Location 
                                </label>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': serverError.project_address}">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="2" ng-required="true" ng-model="project.project_address"></textarea>
                                    <div class="help-block help-block-error">{{serverError.project_address}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': serverError.project_city}">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" placeholder="City" ng-required="true" ng-model="project.project_city">
                                    <div class="help-block help-block-error">{{serverError.project_city}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': serverError.project_country}">
                                <div class="col-xs-12">
                                    <select class="form-control" ng-model="project.project_country" ng-options="country.country_code as country.country_name for country in countries " ng-required="true">
                                        <option value="">Select country</option>
                                    </select>
                                    <div class="help-block help-block-error">{{serverError.project_country}}</div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-xs-12" ng-class="{ 'has-error': serverError.client_country}">
                                    <select class="form-control" ng-model="project.timezone_id" ng-options="timezone.id as timezone.name for timezone in timezones " ng-required="true">
                                        <option value="">Select Timezone</option>
                                    </select>
                                    <div class="help-block help-block-error">{{serverError.client_country}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="row mt-xs-medium">
                        <div class="col-lg-offset-1 col-lg-10">
                            <div class="form-group">
                                <label class="col-xs-12 control-label text-center mb-20">Client Office Address 
                                </label>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': serverError.client_address}">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="2" ng-model="project.client_address"></textarea>
                                    <div class="help-block help-block-error">{{serverError.client_address}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': serverError.client_city}">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" placeholder="City" ng-model="project.client_city">
                                    <div class="help-block help-block-error">{{serverError.client_city}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12" ng-class="{ 'has-error': serverError.client_country}">
                                    <select class="form-control" ng-model="project.client_country" ng-options="country.country_code as country.country_name for country in countries ">
                                        <option value="">Select country</option>
                                    </select>
                                    <div class="help-block help-block-error">{{serverError.client_country}}</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row mt-45 mb-30">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg mr-10 mb-sm-5 btn-plr-medium">Save</button>
                    <a href="/#/projects" class="btn btn-danger btn-lg btn-plr-medium">Cancel</a>
                </div>
            </div>
        </form> 
    </div><!--/shadow-box-->
</div><!--/secondary-bg-->