<div role="tabpanel" class="tab-pane col-xs-12 active" id="List_Tags">
    <div class="row">
        <div class="col-xs-12 search-box">
            <div class="row">
                <h2 class="col-xs-12 search-title">
                    Search Projects
                    <button class="pull-right btn icon-btn" ng-click="showSearchBox=!showSearchBox;">
                        <i ng-class="{'fa fa-sort-desc fa-2x': !showSearchBox,'fa fa-sort-asc fa-2x': showSearchBox}"></i>
                    </button>
                </h2>
            </div><!--/row-->
            <form id="form" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form" ng-class="{'ng-hide':showSearchBox}">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Project Name :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="search.project_name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label text-right">Client :</label>
                            <div class="col-sm-6 col-lg-5">
                                <input class="form-control" ng-model="search.client_project_manager" type="text" />
                            </div>
                        </div>
                    </div>
                </div><!--/row-->

                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Location :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="search.project_location" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label text-right">Consultant :</label>
                            <div class="col-sm-6 col-lg-5">
                                <input class="form-control" ng-model="search.consultant" type="text" />
                            </div>
                        </div>
                    </div>
                </div><!--/row-->

                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Project Address :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="search.project_address" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label text-right">Main Contractor :</label>
                            <div class="col-sm-6 col-lg-5">
                                <input type="text" class="form-control" ng-model="search.main_contractor" />
                            </div>
                        </div>
                    </div>
                </div><!--/row-->

                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Project City :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="search.project_city" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label text-right">Project Status :</label>
                            <div class="col-sm-6 col-lg-5">
                                <select class="form-control" ng-model="search.project_status">
                                    <option value="">-- Select Status --</option>
                                    <option value="1">Active</option>
                                    <option value="0">Not Active</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->

                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">Project Country :</label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="search.project_country" ng-options="country.country_code as country.country_name for country in countries ">
                                    <option value="">Select country</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->

                <div class="row mt-20">
                    <div class="col-sm-10 text-center">
                        <button class="btn btn-primary mb-sm-5" ng-click="listProjects();">Search</button>
                        <button class="btn btn-primary mb-sm-5" ng-click="search = [];listProjects();">Clear Search</button>
                    </div> 
                </div>
            </form>
        </div><!--/search-tag-box-->
    </div><!--/row-->
    <div class="row mt-20">
        <a href="/#/projects/create" class="btn btn-default add-new-btn"><i class="fa fa-plus-circle fa-1x"></i>Add New Project</a>
    </div><!--/row-->
    <div class="row mt-15">
        <div class="">
            <div class="clearfix table-responsive table-responsive-cust">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">S. No</th>
                            <th class="text-center">
                                <a href="" ng-click="order('project_name')">Project Name <i class="fa fa-sort{{sort.project_name}}"></i></a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('project_location')">Location <i class="fa fa-sort{{sort.project_location}}"></i></a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('client_name')">Client <i class="fa fa-sort{{sort.client_project_manager}}"></i></a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('contractor')">Contractor <i class="fa fa-sort{{sort.main_contractor}}"></i></a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('consultant')">Consultant <i class="fa fa-sort{{sort.consultant}}"></i></a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('about')">Description <i class="fa fa-sort{{sort.about}}"></i></a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('project_status')">Status <i class="fa fa-sort{{sort.project_status}}"></i></a>
                            </th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in projects">
                            <td class="text-center">{{numPerPage * (currentPage-1)+$index+1}}</td>
                            <td class="text-center">{{project.project_name}}</td>
                            <td class="text-center">{{project.project_location}}, {{project.project_city}}, {{project.project_country}}</td>
                            <td class="text-center">{{project.client_project_manager}}</td>
                            <td class="text-center">{{project.main_contractor}}</td>
                            <td class="text-center">{{project.consultant}}</td>
                            <td class="text-center">{{project.about}}</td>
                            <td class="text-center">
                                <span class="label" ng-class="{'label-success': project.project_status, 'label-danger': !project.project_status}">{{project.project_status?"Active":"Not Active"}}</span>
                            </td>
                            <td class="text-center">
                                <button class="btn icon-btn">
                                    <i class="fa fa-list-alt fa-lg"></i>
                                </button>
                                <a class="btn icon-btn" href="/#/projects/update/{{project.id}}" >
                                    <i class="fa fa-pencil-square-o fa-lg"></i>
                                </a>
                                <button ng-click="deleteProject(project.id)" class="btn icon-btn" ng-confirm-click="Are you sure to delete this project.">
                                    <i class="fa fa-trash fa-lg"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav class="pull-right">
                    <div class="pull-right">
                        <pagination total-items="totalCount" ng-model="currentPage" items-per-page="numPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pageCount" ng-change="listProjects()"></pagination>
                        <select class="form-control pull-right" style="width: 60px;margin: 20px 2px;height: 28px;padding: 3px" ng-change="listProjects()" ng-model="numPerPage" ng-options="k as v for (k,v) in page_dropdown">
                        </select>
                    </div>
                </nav>
            </div>
        </div>          
    </div><!--/row-->
</div>