<style>
    .level-0 {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 40px;
    }
    .btn {
        margin-right: 8px;
    }

    .angular-ui-tree-handle {
        background: #f8faff;
        border: 1px solid #dae2ea;
        color: #7c9eb2;
        padding: 10px 10px;
    }

    .angular-ui-tree-handle:hover {
        color: #438eb9;
        background: #f4f6f7;
        border-color: #dce2e8;
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
</style>
<div class="row mt-15">
    <div class="col-xs-12">
        <div role="tabpanel">
            <!-- Tab panes -->
            <div class="tab-content col-xs-12 pl-lg-25 pr-lg-25">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                          <div class="col-lg-12">
                              <button class='btn btn-primary'>
                                  Add New Level
                              </button>
                              <div class='row' style='padding:20px;'>
                                <!-- Nested list template -->
                                <script type="text/ng-template" id="items_renderer.html">
                                  <div ui-tree-handle ng-class="'level-'+item.level">
                                    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a>
                                    {{item.title}}
                                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-remove"></span></a>
                                    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="fa fa-plus"></span></a>
                                    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="updateItem(this)" style="margin-right: 8px;"><span class="fa fa-pencil"></span></a>
                                    <a ng-hide="item.level!=0" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="showProjects(this)" style="margin-right: 8px;">Projects</a>
                                  </div>
                                  <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
                                    </li>
                                  </ol>
                                </script>
                                <div ui-tree="options">
                                  <ol ui-tree-nodes ng-model="list" >
                                    <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
                                  </ol>
                                </div>
                              </div>
                          </div>
                      </div>

                    </div>
                  </div>

            </div><!--/tab-content-->
        </div><!--/tabpanel-->
    </div>