<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Site Track</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="https://jimliu.github.io/angular-ui-tree/dist/angular-ui-tree.min.css">
        <style>
            .angular-ui-tree {
                border: 2px solid #ccc;
            }
            .angular-ui-tree-nodes .angular-ui-tree-nodes {
                padding-left: 40px;
            }
            .btn {
                margin-right: 8px;
            }

            .angular-ui-tree-handle {
                background: #f8faff;
                border: 1px solid #dae2ea;
                color: #7c9eb2;
                padding: 10px 10px;
            }

            .angular-ui-tree-handle:hover {
                color: #438eb9;
                background: #f4f6f7;
                border-color: #dce2e8;
            }

            .angular-ui-tree-placeholder {
                background: #f0f9ff;
                border: 2px dashed #bed2db;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .group-title {
                background-color: #687074 !important;
                color: #FFF !important;
            }
        </style>
        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-submenu.js"></script>
        <script type="text/javascript" src="js/html5shiv.js"></script>
        <script type="text/javascript" src="js/respond.js"></script>
        <script type="text/javascript" src="js/site.js"></script>
        <script src="https://jimliu.github.io/angular-ui-tree/bower_components/angular/angular.min.js"></script>
        <script src="https://jimliu.github.io/angular-ui-tree/dist/angular-ui-tree.js"></script>
        <script>
            (function() {
                'use strict';

                angular.module('demoApp', ['ui.tree'])
                .controller('MainCtrl', function($scope) {
                  $scope.list = [{
                    "id": 1,
                    "title": "1. Area 1",
                    "items": []
                  }, {
                    "id": 2,
                    "title": "2. Area 2",
                    "items": [{
                      "id": 21,
                      "title": "2.1. Floor 1",
                      "items": [{
                        "id": 211,
                        "title": "2.1.1. Room 1",
                        "items": []
                      }, {
                        "id": 212,
                        "title": "2.1.2. Room 2",
                        "items": []
                      }],
                    }, {
                      "id": 22,
                      "title": "2.2. Floor 2",
                      "items": []
                    }],
                  }, {
                    "id": 3,
                    "title": "3. Area 3",
                    "items": []
                  }, {
                    "id": 4,
                    "title": "4. Area 4",
                    "items": []
                  }];

                  $scope.selectedItem = {};

                  $scope.options = {
                  };

                  $scope.remove = function(scope) {
                    scope.remove();
                  };

                  $scope.toggle = function(scope) {
                    scope.toggle();
                  };

                  $scope.newSubItem = function(scope) {
                    var nodeData = scope.$modelValue;
                    nodeData.items.push({
                      id: nodeData.id * 10 + nodeData.items.length,
                      title: nodeData.title + '.' + (nodeData.items.length + 1),
                      items: []
                    });
                  };
                });

              })();
        </script>
    </head>
    <body ng-app="demoApp">
        <header class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="pull-right welcome-wrapper">
                    <ul>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle welcome-text" data-toggle="dropdown" role="button" aria-expanded="false">Welcome : <span class="username">akbarraja</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu weclome-list dropdown-menu-right" role="menu">
                                <li>Last Login IP : <span class="ip-address pl-5">111.111.222.11</span></li>
                                <li>Last login location : <span class="location pl-5">Dubai (UAE)</span></li>
                            </ul>
                         </li>
                        <li><a class="btn btn-primary btn-small" href="#">Logout <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                    <div class="last-login">Last login : <span class="date-time text-muted">14 Oct 2014 10:am</span></div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="nav-container">
                <div class="container-fluid">
                    <nav class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View / Edit / Print <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="col-xs-12 pull-right">
                                    <form class="" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control search-control" placeholder="Search..." name="q" style="padding:6px 6px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary search-btn" type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav><!--/.nav-collapse -->
                </div>
            </div><!--/nav-container-->
        </header><!--/navbar-default-->
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content primary-bg-wrapper column-gs-sm">
                        <div class="row">
                            <div class="col-sm-8">
                                <ol class="breadcrumb mb-15">
                                    <li><a href="#">Home</a></li>
                                    <li>Manage</li>
                                    <li>Projects</li>
                                    <li class="active">Project: Construction work at Abc hospital</li>
                                </ol>
                            </div>
                            <div class="col-sm-4 text-right">
                                <h4 class="mt-5 mb-0">Manage Project Level</h4>
                            </div>
                        </div><!--/row-->
                        <div class="row mt-15">
                            <div class="col-xs-12">
                                <div role="tabpanel">
                                    <!-- Tab panes -->
                                    <div class="tab-content col-xs-12 pl-lg-25 pr-lg-25">
                                        
                                         <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" ng-controller="MainCtrl">
                                                  <div class="col-lg-12">
                                                      <button class='btn btn-primary'>
                                                          Add New Level
                                                      </button>
                                                      <div class='row' style='padding:20px;'>
                                                        <!-- Nested list template -->
                                                        <script type="text/ng-template" id="items_renderer.html">
                                                          <div ui-tree-handle>
                                                            <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a>
                                                            {{item.title}}
                                                            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-remove"></span></a>
                                                            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="fa fa-plus"></span></a>
                                                          </div>
                                                          <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                                                            <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
                                                            </li>
                                                          </ol>
                                                        </script>
                                                        <div ui-tree="options">
                                                          <ol ui-tree-nodes ng-model="list" >
                                                            <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
                                                          </ol>
                                                        </div>
                                                      </div>
                                                  </div>
                                              </div>

                                            </div>
                                          </div>
                                        
                                    </div><!--/tab-content-->
                                </div><!--/tabpanel-->
                            </div>      
                        </div><!--/row-->
                    </div><!--/content-->
            </div><!--/row-->
        </section>
        <!--/container-fluid-->
        <footer class="footer-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <ul> 
                            <li><a href="#">Terms and Conditions of Use </a><span>|</span></li>
                            <li><a href="#">Privacy Policy </a><span>|</span></li>
                            <li><a href="#">Customer Support </a><span>|</span></li>
                            <li><a class="active" href="#">Andriod App </a></li>
                        </ul>
                    </div>
                </div><!--/row-->
                <div class="row">
                    <div class="col-xs-12 text-center copyright">
                        <span>&copy;</span> Site Track -nfc.com 2013 , All Rights Reserved
                    </div>
                </div><!--/row-->
            </div>
        </footer><!--/footer-wrapper-->
    </body>
</html>