<div role="tabpanel">
    <!-- Tab panes -->
    <div class="tab-content col-xs-12 pl-lg-25 pr-lg-25">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <button class='btn btn-primary' ng-click="newSubItem(list, 'top')">
                            Create Tag Process Type
                        </button>
                        <div class='row' style='padding:20px;'>
                            <div class="alert alert-info" ng-if="flagUpdatedLevels" style="position: sticky; z-index: 9999; top: 0px;">
                                <span>
                                    We have noted the updates in process positions or modification in flag (default or completion). Click 'Save Now' to save all updates. 
                                    <button ng-disabled="loadingSaveLevels" class='btn btn-primary' ng-click="saveProcessLevels()">
                                        <span ng-if="loadingSaveLevels">
                                            <i class="fa fa-refresh"></i> Saving..
                                        </span>
                                        <span ng-if="!loadingSaveLevels">Save Now</span>
                                    </button>
                                    <button ng-hide="loadingSaveLevels" class='btn btn-primary' ng-click="resetLevels()">
                                        Revert Updates
                                    </button>
                                </span>
                            </div>
                            <div ui-tree="options" callbacks="callbacks">
                                <ol ui-tree-nodes="" ng-model="list">
                                    <li ng-repeat="item in list" ui-tree-node>
                                        <div nodrag ui-tree-handle ng-class="'level-'+(this.depth()-1)" class="nodrag">
                                            <div click-to-edit="item" template-url="editGroup.html" editable-field="item.process_name"></div>
                                        </div>
                                        <ol ui-tree-nodes="options" ng-model="item.tree" ng-hide="collapsed" class="slide">
                                            <li ng-repeat="item in item.tree" ui-tree-node>
                                                <div ui-tree-handle ng-class="'level-'+(this.depth()-1)" nodrag class="nodrag">
                                                    <div click-to-edit="item" template-url="editFlow.html" editable-field="item.process_name"></div>
                                                </div>
                                                <ol ui-tree-nodes="options" ng-model="item.tree" ng-hide="collapsed" class="slide">
                                                    <li ng-repeat="item in item.tree" ui-tree-node ng-class="{'has-error': (item.option_type!='3' && item.option_type!='5'?(item.tree.length<2 || (!item.flagDefault || !item.flagCompletion)):false)}">
                                                        <div ui-tree-handle ng-class="'level-'+(this.depth()-1)">
                                                            <div click-to-edit="item" template-url="editStage.html" editable-field="item.process_name">
                                                            </div>
                                                        </div>
                                                        <ol ui-tree-nodes="options" ng-model="item.tree" ng-hide="collapsed" class="slide">
                                                            <li ng-repeat="item in item.tree" ui-tree-node>
                                                                <div ui-tree-handle class="form-horizontal">
                                                                    <div click-to-edit="item" template-url="editOption.html" editable-field="item.process_name"></div>
                                                                </div>
                                                                <ol ui-tree-nodes ng-model="item.tree"></ol>
                                                            </li>
                                                        </ol>
                                                        <div class="pl-10" ng-if="item.option_type!='3' && item.option_type!='5'">
                                                            <div ng-show="item.tree.length<2">
                                                                <strong>Error: </strong>
                                                                This process should have at least 2 options (1 for default and 1 for completion flag.
                                                            </div>
                                                            <div ng-show="!(item.flagDefault && item.flagCompletion) && item.tree.length >1">
                                                                <strong>Error: </strong> This process do not have default OR completion flag.
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                                <span ng-if="!list"><i class="fa fa-refresh"></i>Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/tab-content-->
</div><!--/tabpanel-->
<script type="text/ng-template" id="editGroup.html">
    <div class="click-to-edit">
        <div ng-hide="view.editorEnabled">
            <a class="btn btn-success btn-xs" ng-click="$parent.toggle($parent)" nodrag>
                <span class="fa" ng-class="{'fa-chevron-right': $parent.collapsed, 'fa-chevron-down': !$parent.collapsed}"></span>
            </a>
            {{view.editableValue}}
            <a class="pull-right btn btn-danger btn-xs" ng-click="$parent.removeItem($parent)" ng-confirm-click="Are you sure to remove this process type? This action cannot be undone."><span class="fa fa-trash"></span></a>
            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="$parent.newSubItem($parent, '')" style="margin-right: 8px;">
                <span class="fa fa-plus"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" ng-click="enableEditor()" style="margin-right: 8px;">
                <span class="fa fa-pencil"></span>
            </a>
            <a ng-show="view.parent_id==0" class="pull-right btn btn-primary btn-xs" nodrag 
               ng-click="$parent.showProjectsModal(view)" style="margin-right: 8px;">
                Projects
            </a>
        </div>
        <div ng-show="view.editorEnabled" class="slide">
            <form class="form-inline" ng-submit="$parent.saveItem($parent, view.editableValue);" ng-attr-id="{{ 'frmEditable-' + $id }}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Level Name" ng-required="true" ng-model="view.editableValue"/>
                </div>
                <button class="btn btn-primary">Save</button>
                <a ng-click="disableEditor()" class="btn btn-primary">cancel</a>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editFlow.html">
    <div class="click-to-edit">
        <div ng-hide="view.editorEnabled">
            <a class="btn btn-success btn-xs" ng-click="$parent.toggle($parent)">
                <span class="fa" ng-class="{'fa-chevron-right': $parent.collapsed, 'fa-chevron-down': !$parent.collapsed}"></span></a>
                {{view.editableValue}}
            <a class="pull-right btn btn-danger btn-xs" ng-click="$parent.removeItem($parent)" ng-confirm-click="Are you sure to remove this process? This action cannot be undone.">
                <span class="fa fa-trash"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="$parent.newSubItem($parent, '')" style="margin-right: 8px;">
                <span class="fa fa-plus"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" ng-click="enableEditor()" style="margin-right: 8px;">
                <span class="fa fa-pencil"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" nodrag style="margin-right: 8px;" ng-click="$parent.setFlag(view, 'hierarchy')" tooltip-html-unsafe="{{$parent.tooltip.hierarchy_compulsory}}" >
                <span class="fa fa-question-circle"></span> Hierarchy C. <i class="fa fa-check-square" ng-if="view.flagHierarchy"></i>
            </a>
        </div>
        <div ng-show="view.editorEnabled" class="slide">
            <form class="form-inline" ng-submit="$parent.saveItem($parent, view.editableValue);" ng-attr-id="{{ 'frmEditable-' + $id }}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Level Name" ng-required="true" ng-model="view.editableValue"/>
                </div>
                <button class="btn btn-primary">Save</button>
                <a ng-click="disableEditor()" class="btn btn-primary">cancel</a>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editStage.html">
    <div class="click-to-edit">
        <div ng-hide="view.editorEnabled">
            <a class="btn btn-success btn-xs" ng-click="$parent.toggle($parent)">
                <span class="fa" ng-class="{'fa-chevron-right': $parent.collapsed, 'fa-chevron-down': !$parent.collapsed}"></span>
            </a>
            {{$parent.$index+1}}. &nbsp; &nbsp;{{view.editableValue}}
            (<u>{{process_stage_type[view.option_type]}}</u>)
            <a class="pull-right btn btn-danger btn-xs" ng-click="$parent.removeItem($parent)" ng-confirm-click="Are you sure to remove this status? This action cannot be undone."><span class="fa fa-trash"></span></a>
            <span ng-click="$parent.newSubItem($parent, '')">
                <a class="pull-right btn btn-primary btn-xs" ng-if="view.option_type!='3' && view.option_type!='5'" nodrag  style="margin-right: 8px;">
                    <span class="fa fa-plus"></span>
                </a>
            </span>
            <a class="pull-right btn btn-primary btn-xs" ng-click="enableEditor()" style="margin-right: 8px;">
                <span class="fa fa-pencil"></span>
            </a>
            <a ng-show="view.parent_id==0" class="pull-right btn btn-primary btn-xs" nodrag 
               ng-click="$parent.showProjectsModal(view)" style="margin-right: 8px;">
                Projects
            </a>
        </div>
        <div ng-show="view.editorEnabled" class="slide">
            <form class="form-inline" ng-submit="$parent.saveItem($parent, view.editableValue);" ng-attr-id="{{ 'frmEditable-' + $id }}">
                <div class="form-group">
                    {{$parent.$index+1}}. &nbsp; &nbsp;
                    <input type="text" class="form-control" placeholder="Level Name" ng-required="true" ng-model="view.editableValue"/>
                    <select class="form-control form-control-small" ng-model="view.option_type" ng-options="k as v for (k,v) in process_stage_type" ng-required="true" ng-disabled="view.id!=null">
                        <option value=''>--Select option type--</option>
                    </select>
                </div>
                <button class="btn btn-primary">Save</button>
                <a ng-click="disableEditor()" class="btn btn-primary">cancel</a>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editOption.html">
    <div class="click-to-edit">
        <div ng-hide="view.editorEnabled">
            <span class="btn btn-success btn-xs">&nbsp;{{$parent.$index+1}}&nbsp;</span>
            <span class="mt-5">{{view.editableValue}}</span>
            <span class="setFlagBox pl-10">
                <button type="button" class="btn btn-primary btn-xs" ng-class="{'showFlag': $parent.getFlag($parent, 'default'), 'hide': $parent.getFlag($parent, 'completion')}" ng-click="$parent.setFlag($parent, 'default')"><i class="fa fa-check-square" ng-if="$parent.getFlag($parent, 'default')"></i> Default Flag</button>
                <button type="button" class="btn btn-primary btn-xs" ng-class="{'showFlag': $parent.getFlag($parent, 'completion'), 'hide': $parent.getFlag($parent, 'default')}" ng-click="$parent.setFlag($parent, 'completion')"><i class="fa fa-check-square" ng-if="$parent.getFlag($parent, 'completion')"></i> Completion Flag</button>
            </span>
            <span class="pull-right">
                <a class="btn btn-primary btn-xs" nodrag ng-click="enableEditor(this)">
                    <span class="fa fa-pencil"></span>
                </a>
                <a class="pull-right btn btn-danger btn-xs" ng-click="$parent.removeItem($parent)" ng-confirm-click="Are you sure to remove this option? This action cannot be undone.">
                    <span class="fa fa-trash"></span>
                </a>
            </span>
        </div>
        <div ng-show="view.editorEnabled" class="slide">
            <form class="form-inline" ng-submit="$parent.saveItem($parent, view.editableValue);" ng-attr-id="{{ 'frmEditable-' + $id }}">
                <div class="col-md-2 col-lg-1 text-right control-label"><label>Option {{$parent.$index+1}}</label></div>
                <div class="col-md-3">
                    <input type="text" ng-model="view.editableValue" class="form-control" placeholder="Option {{$parent.$index+1}}"/>
                </div>
                <button class="btn btn-primary">Save</button>
                <a ng-click="disableEditor()" class="btn btn-primary">cancel</a>
            </form>
        </div>
    </div>
</script>