<div class="col-xs-12 search-box mb-sm-large">
    <div class="row">
        <h2 class="col-xs-12 search-title">
            Search Projects
            <button class="pull-right btn icon-btn" ng-click="showSearchBox=!showSearchBox;">
                <i ng-class="{'fa fa-sort-desc fa-2x': !showSearchBox,'fa fa-sort-asc fa-2x': showSearchBox}"></i>
            </button>
        </h2>
    </div><!--/row-->
    <form id="form" ng-submit="searchProjects()" class="form-horizontal form-horizontal-typ1 form-wrapper slide" role="form" ng-class="{'ng-hide':showSearchBox}">
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Project Name :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="$search.project_name" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                   <label class="col-sm-4 col-lg-5 control-label text-right">Client Details :</label>
                   <div class="col-sm-6">
                       <input type="text" class="form-control" ng-model="$search.client_name" />
                   </div>
                </div>
                </div>
           
        </div><!--/row-->
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Address :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="$search.address" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 col-lg-5 control-label text-right">Contractor Details :</label>
                    <div class="col-sm-6">
                         <input type="text" class="form-control" ng-model="$search.contractor_details" />
                    </div>
                </div>
                </div>
           
        </div><!--/row-->
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">City :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="$search.city" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 col-lg-5 control-label text-right">Consultant Details :</label>
                    <div class="col-sm-6">
                         <input type="text" class="form-control" ng-model="$search.consultant" />
                    </div>
                </div>
                </div>
           
        </div><!--/row-->
        
        
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Country :</label>
                    <div class="col-sm-6">
                        <select class="form-control ui-select-match">
                            <option>-- Country Search --</option>
                            <option value="1">USA</option>
                            <option value="0">INDIA</option>
                            <option value="2">JAPAN</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                   <label class="col-sm-4 col-lg-5 control-label text-right">Project Status :</label>
                    <div class="col-sm-6">
                        <select class="form-control ui-select-match">
                            <option>-- Project Search --</option>
                            <option value="1">Active</option>
                            <option value="0">Not Active</option>
                            <option value="2">Archived</option>
                        </select>
                    </div>
                 </div>
             </div>
           
        </div><!--/row-->
        
         <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right"></label>
                    <div class="col-sm-6">
                       
                    </div>
                </div>
            </div>
        </div><!--/row-->
      
        <div class="row mt-20">
           <div class="col-sm-10 text-center">
                <button class="btn btn-primary mb-sm-5" type="submit" >Search</button>
                <button class="btn btn-primary mb-sm-5">Clear Search</button>
           </div> 
        </div>
    </form>
</div><!--/search-tag-box-->