<ul class="breadcrumb"><li><a href="#/">Home</a></li>
    <li><a href="#/r-{{mod}}">List {{mod}}</a></li>
    <li><a href="#/r-{{mod}}/update/{{data.id}}">Update {{mod}}</a></li>
    <li><a href="#/r-{{mod}}/delete/{{data.id}}">Delete {{mod}}</a></li>
    <li class="active">View {{mod}}</li>
</ul>

<div class="row" style="margin: 5px;">
    <h1>View {{mod}}</h1>
    <div ng-repeat="field in fields" class="row-fluid">
        <div class="col-md-4">{{field.label}}</div>
        <div class="col-md-8">{{data[field.key]}}</div>
    </div>
</div>
<style>
    [class*="col-"] {
        background-color: rgba(86, 61, 124, 0.15);
        border: 1px solid rgba(86, 61, 124, 0.2);
        padding-bottom: 15px;
        padding-top: 15px;
    }
</style>