<div class="site-login">
    <div id="login" class="tab-pane active" style="max-width: 300px;margin:auto;">
        <div class="site-request-password-reset">
            <div class="site-reset-password">
                <p>Please choose your new password:</p>

                <div class="clearfix">
                    <form role="form" ng-submit="change()">                            
                        <div class="input-block-level field-changepassword-old_password" ng-class="{'has-error': serverError.old_password}">
                            <input type="password" ng-model="model.old_password" class="form-control" placeholder="Old password" ng-required="true">
                            <p class="help-block help-block-error">{{serverError.old_password}}</p>
                        </div>

                        <div class="input-block-level field-changepassword-old_password" ng-class="{'has-error': serverError.new_password}">
                            <input type="password" ng-model="model.new_password" class="form-control" placeholder="New password" ng-required="true">
                            <p class="help-block help-block-error">{{serverError.new_password}}</p>
                        </div>

                        <div class="input-block-level field-changepassword-old_password" ng-class="{'has-error': serverError.repeat_password}">
                            <input type="password" ng-model="model.repeat_password" class="form-control" placeholder="Repeat password" ng-required="true">
                            <p class="help-block help-block-error">{{serverError.repeat_password}}</p>
                        </div>

                        <div class="form-group mt-15">
                            <button type="submit" class="btn btn-large btn-primary btn-block">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>